<div id="apps-container">
    <h1>New applications using IATI data</h1>
    <p class="intro">
        Because IATI data is open, standardised and machine readable, technical users can freely convert it into databases, spreadsheets, web
        applications, printed documents or data visualisations. As more data is published in the IATI format, more information intermediaries will
        develop new applications that will help users access IATI information in ways that are meaningful to them. Here are some early examples:
    </p>
        <div id="apps">
            <div class="app">
                <a href="app1">
                    <img src="/images/apps/app1.png" alt="The IATI explorer" />
                </a>
                <div class="title"><a href="http://www.iatiexplorer.net/">The IATI explorer</a></div>
                <div class="by">by <a href="http://www.developmentgateway.org/">Development Gateway</a></div>
                <p>
                    Collects all the data in the IATI Registry, allows users to search browse via a simple user interface and provides advanced data users with bespoke raw data packages via a RESTful API.
                </p>
            </div>
            <div class="app">
                <a href="app2">
                    <img src="/images/apps/app2.png" alt="AidView" />
                </a>
                <div class="title"><a href="http://www.aidview.net/">AidView (alpha)</a> </div>
                <div class="by">by <a href="http://www.aidinfolabs.org">aidinfo Labs</a></div>
                <p>
                    Makes it easy to browse through thousands of detailed aid activity data published using the IATI standard. See country, sector and funder data profiles and create a personalised portfolio of activities to monitor. Designed for tablet devices and the web.
                </p>
            </div>
            <div class="app">
                <a href="app3">
                    <img src="/images/apps/app3.png" alt="app3" />
                </a>
                <div class="title"><a href="/using-iati-data">Other examples</a></div>
                <div class="by"></div>
                <p>
                    There are other examples of applications and tools using IATI-compliant data and these are growing. Find out more here and learn more about how to use IATI data.
                </p>
            </div>

        </div>
</div>
