<?xml version="1.0"?>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:i18n="http://genshi.edgewall.org/i18n" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
    <py:def function="page_title">Home</py:def>
    <py:def function="optional_head">
        <link rel="stylesheet" href="/css/overrides.css" type="text/css" media="screen, print"/>
        <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" media="screen, print"/>
        <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    </py:def>
    <py:def function="body_class">home</py:def>

    <div py:match="content">
        <div class="page type-page hentry">
            <div class="entry-content">
                <div>
                    <h1>Welcome to the IATI registry <span>The online repository of IATI raw data links</span></h1>
                    <p class="intro">
                        The IATI Registry contains links to raw data in the IATI XML format. The data itself is not held within the registry, it is
                        published on publishers own websites. The registry simply provides links to this data, and a basic preview function for each
                        data file published. Learn more <strong><a href="http://iatiregistry.org/about-2" rel="about">here</a></strong>.
                    </p>

                    <div class="top-tag top-tag-left">Access the registry</div>
                    <div class="top-tag top-tag-right">Access other IATI sites</div>

                    <div id="home-options">
                        <ul>
                            <li class="home-option-left">
                                <div id="search">
                                    <h1><a href="/dataset"><em>IATI Registry</em></a></h1>
                                    <p><b>Find</b> raw IATI-compliant data in the Registry</p>
                                </div>
                                <div>
                                    <?python
                                        active_groups = [grp for grp in c.groups if grp['state'] == 'active' and grp['packages'] > 0]
                                    ?>
                                    <h2><em>${len(active_groups)}</em> <a href="/group">organizations</a> have published so far</h2>
                                    <p>
                                        The registry began registering data during 2011. It is early
                                        days and the number of publishers is growing all the time.
                                    </p>
                                </div>
                            </li>
                            <li class="home-option-right">
                                <div id="news">
                                    <h1><a href="http://aidtransparency.net"><em>About IATI</em></a></h1>
                                    <p>Find out more about the initiative and catch up on news on <b>aidtransprency.net</b>.</p>
                                </div>
                                <div id="learn">
                                    <h1><a href="http://iatistandard.org"><em>IATI Standard</em></a></h1>
                                    <p>Learn more about the IATI standard on <b>iatistandard.org</b>.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <xi:include href="apps.html"/>
            </div>  <!-- .entry-content -->
        </div>
    </div> <!-- #content -->

    <xi:include href="layout.html"/>

</html>
