<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Home</py:def>

  <py:def function="optional_head">
  <script src="/scripts/jquery.tagcloud.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $.fn.tagcloud.defaults = {
        size: {start: 10, end: 32, unit: "pt"}, 
        color: {start: '#af8', end: '#f52'}
      };
      $("#tagcloud a").tagcloud();
    })
  </script>
  <style type="text/css">
    #tagcloud * {
      display: inline-block;
      vertical-align: middle;
			line-height: 0.9;
    }

    #tagcloud a {
      text-decoration: none;
    }

    #tagcloud a:hover {
      text-decoration: underline;
    }

    #tagcloud {
      margin: 25px auto;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="/css/overrides.css" type="text/css" media="screen, print" />
  <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" media="screen, print" />
  <meta http-equiv="X-UA-Compatible" content="IE=7" />
  </py:def>
  <py:def function="body_class">home</py:def>
  <div py:match="content">

        <div class="page type-page hentry">
          <div class="entry-content">
            <div id="minornavigation">
              <minornavigation></minornavigation>
            </div>
            <!-- support both options for defining content -->
            <div>
    <h1>Welcome to the IATI registry <span>The online repository of IATI raw data links</span></h1>
    <div id="id-like-to">
      I'd like to
    </div>
      <div id="home-options">
        <ul>
          <li>
            <img id="news-image" src="/images/home-news.png"/>
            <h1>
              <em>Catch up</em><br/>
              With the latest <b>IATI</b> news
            </h1>
            <p>
              Visit aidtransparency.net to read about IATI and learn about new developments.
            </p>
            <a class="go" href="http://aidtransparency.net">Go &raquo;</a>
          </li>
          <li>
            <img src="/images/home-search.png"/>
            <h1>
              <em>Find</em><br/>
              <b>IATI</b>-compliant data
            </h1>
            <p>
              By searching the IATI registry.
            </p>
            <a class="go" href="/package">Go &raquo;</a>
          </li>
          <li>
            <img src="/images/home-visualise.png"/>
            <h1>
              <em>Use</em><br/>
              Data with third party tools
            </h1>
            <p>
              Learn about applications to visualise and manipulate the IATI datasets.
            </p>
            <a class="go" href="/using-iati-data">Go &raquo;</a>
          </li>
          <li>
            <img src="/images/home-learn.png"/>
            <h1>
              <em>Learn</em><br/>
              About the <b>IATI</b> standard
            </h1>
            <p>
              Get to grips with the technical side of IATI.
            </p>
            <a class="go" href="http://iatistandard.org">Go &raquo;</a>
          </li>
        </ul>
      </div>
	  </div>
	  <h1>What is the IATI registry?</h1>
	  <p class="two-col">
      IATI data is open, standardised and flexible -it can be freely converted into the appropriate format for a particular need. From its raw form, a technical user can transform IATI data into tables, spreadsheets, web applications, printed documents or data visualisations. The IATI Registry acts as a foundation for other tools and services built to take advantage of aid information.<br/>
An organisation publishes IATI files onto their own website. It submits a link to their IATI files to this centralised service and the registry adds them to the catalogue. Users and infomediaries can use this site to find, use and stay updated on data from different publishers. Whenever an organisation updates or adds new IATI files, they let the registry know. It then automatically updates the catalogue and lets users know there's fresh data.
	  </p>
          </div><!-- .entry-content -->
        </div>
        <div id="comments">
        </div><!-- #comments -->
      </div> <!-- #content -->


  <xi:include href="layout.html" />
</html>
