<?xml version="1.0"?>
<html xmlns:py="http://genshi.edgewall.org/" xmlns:i18n="http://genshi.edgewall.org/i18n" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">
    <py:def function="page_title">Home</py:def>
    <py:def function="optional_head">
        <link rel="stylesheet" href="/css/overrides.css" type="text/css" media="screen, print"/>
        <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" media="screen, print"/>
        <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    </py:def>
    <py:def function="body_class">home</py:def>

    <div py:match="pre_content">
        <div id="home-strapline">
            <h1>Welcome to <strong>IATI Data Registry</strong>, the online repository of IATI raw data in XML format.</h1>
        </div>
        <div id="home-icons">
            <div id="home-icon-panels">
                <div class="icon registry">
                    <h2><a href="/dataset">IATI Registry</a></h2>
                    <div id="panel-search-registry">
                        <a href="/dataset">Search the Registry</a>
                    </div>
                    <p>The Registry provides links to data and a basic preview function</p>
                </div>
                <div class="icon detail">
                    <?python
                        active_groups = [grp for grp in c.groups if grp['state'] == 'active' and grp['packages'] > 0]
                    ?>
                    <h2><a href="/publisher">IATI Publishers</a></h2>
                    <div id="number-publishers">
                        <span id="total-number-publishers">${len(active_groups)}</span> Organizations have published so far
                    </div>
                    <p>The Registry began registering data in 2011, with the number of publishers increasing all of the time.<br />
                       <a href="/publisher">View list of publishers</a></p>
                </div>
                <div class="icon support">
                    <h2><a href="/help.html">Help</a></h2>
                    <p>Frequently Asked Questions for publishers.</p>
                    <ul>
                        <li><a href="/help">How do I register my data?</a></li>
                        <li><a href="/help">Why do I have to wait for my Publisher record to be authorised?</a></li>
                        <li><a href="mailto:support@iatistandard.org">Can't find the answer to your question? Ask for help.</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div py:match="content">
      <xi:include href="apps.html"/>
    </div>

    <xi:include href="layout.html"/>

</html>
