<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div class="package">
    <h2 class="head">
      ${c.pkg.title}
      <span class="name">(${c.pkg.name})</span>
    </h2>
    <div class="url" py:if="c.pkg.url">
      <p>
        ${c.pkg_url_link}
      </p>
    </div>

    <div class="tags">
      <div py:if="len(c.pkg.tags)" class="item-list">
        Tags: ${tag_list(c.pkg.tags)}
      </div>
      <div py:if="len(c.pkg.groups)" class="item-list">
        <span title="A curated collection of packages">Group:</span>
        <ul>
          <li py:for="group in c.pkg.groups">
          <a href="${h.url_for(controller='group', action='read', id=group.name)}">${group.title}</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="cleared" />

    <div class="notes" py:if="str(c.pkg_notes_formatted).strip()">
      ${c.pkg_notes_formatted}
    </div>
    
    <py:choose test="">
      <table py:when="c.pkg.resources" width="100%">
        <tr><th>URL</th><th>Format</th><th>Preview</th></tr>
        <py:for each="res in c.pkg.resources">
          <tr>
            <td><a href="${res.url}" target="_blank">Download</a></td>
            <td>${res.format}</td>
            <td py:if="'iati:preview:%s' % res.id in c.pkg.extras.keys()">
                <a href="javascript:window.open('http://dev.yipl.com.np/iati/tools/public/api/activityviewer?xmlUrl=${res.url}', 'preview', 'location=0,status=0,width=960,height=535')">preview</a>
            </td>
        </tr>
        </py:for>
      </table>
      <table py:otherwise=""><tr><th>Resources</th><td>None given for this package.</td></tr></table>
      </py:choose>
      
    <py:def function="details_item(label, value)">
        <tr py:if="value is not None and len(value) > 0">
          <td class="package-label">
            ${label}
          </td>
          <td class="package-details">
            ${value}
          </td>
        </tr>
    </py:def>
    
    <py:def function="details_asbool(label, value)">
        <tr>
          <td class="package-label">
            ${label}
          </td>
          <td class="package-details">
            ${'yes' if value else 'no'}
          </td>
        </tr>
    </py:def>
    
    <py:def function="details_list(label, values)">
        <tr py:if="values is not None and len(values) > 0">
          <td class="package-label" valign="top">
            ${label}
          </td>
          <td class="package-details"><ul>
            <li py:for="value in values">${value}</li>
          </ul></td>
        </tr>
    </py:def>

    <div class="details">
    <h4>Details</h4>
    <table width="100%">
      <tbody>
        ${details_item('Contact', c.pkg_author_link)}
        <!--${details_item('Maintainer', c.pkg_maintainer_link)}
        ${details_item('Version', c.pkg.version)}-->
        ${details_list('Donors', c.pkg.extras.get('donors', '-'))}
        ${details_list('Donor types', c.pkg.extras.get('donors_type', []))}
        ${details_list('Donor countries', [h.country_name(x) for x in c.pkg.extras.get('donors_country', [])])}
        ${details_item('Recipient Country', h.country_name(c.pkg.extras.get('country', '(Unknown)')))}
        
        ${details_asbool('Verified', c.pkg.extras.get('verified', False))}
        ${details_asbool('Archive File', c.pkg.extras.get('archive_file', False))}
        ${details_item('Department', c.pkg.extras.get('department', '-'))}
        
        ${details_item('Data updated', c.pkg.extras.get('data_updated', '-'))}
        ${details_item('Record updated', c.pkg.extras.get('record_updated', '-'))}
        
        <tr>
          <td class="package-label">
            License
          </td>
          <td class="package-details">
          <py:choose test="">
          <py:when test="c.pkg.license and c.pkg.license.url">
            <a href="${c.pkg.license.url}">${c.pkg.license.title}</a>
          </py:when>
          <py:when test="c.pkg.license">${c.pkg.license.title}</py:when>
          <py:when test="c.pkg.license_id">${c.pkg.license_id}</py:when>
          <py:otherwise test="">
            -
          </py:otherwise>
          </py:choose>
          </td>
        </tr>
      </tbody>
    </table>
    
    
    
    <h4>Contents</h4>
    <table width="100%">
      <tbody>
        ${details_item('# of Activities', c.pkg.extras.get('activity_count', '-'))}
        
        <tr>
          <td class="package-label">Activity Period</td>
          <td class="package-details">
            ${c.pkg.extras.get('activity_period-from', '?')} -
            ${c.pkg.extras.get('activity_period-to', '?')}</td>
        </tr>
      </tbody>
    </table>
    </div>

    <ul>
      <py:if test="c.auth_for_change_state">
         <li><strong>State:</strong> ${c.pkg.state}</li>
      </py:if>
    </ul>

    <hr class="cleared" />
  </div>

</html>
