<form id="package-search" class="package-search" action="${h.url_for(controller='package', action='search', id=None)}" method="GET">
  <input type="search" class="search" name="q" value="${c.q}" />
 
  
  <?python
    any = [('', 'Any')]
    country_options = any + [(o, h.country_name(o) + " (%s)" % n) for o, n in h.facet_options(c.q, 'country', c.facets)]
    groups_options = any + [(o, h.group_title(o) + " (%s)" % n) for o, n in h.facet_options(c.q, 'groups', c.facets)]
    types_options = any + [(o, o + " (%s)" % n) for o, n in h.facet_options('', 'groups_types', c.facets)]
  ?>
  <div class="facets">
  Type: ${h.select('groups_types', c.facets.get('groups_types', '') if c.facets else '', types_options)}
  Publisher: ${h.select('groups', c.facets.get('groups', '') if c.facets else '', groups_options)}
  Country: ${h.select('country', c.facets.get('country', '') if c.facets else '',  country_options)}
  </div>
  
   <input type="submit" value="Search" class="button" />
   <div style="clear: both;"></div>
</form>
