<form id="package-search" class="package-search" action="${h.url_for(controller='package', action='search', id=None)}" method="GET">
  <input type="search" class="search" name="q" value="${c.q}" />
  <input type="submit" value="Search" class="button" />
  
  <?python
    any = [('', 'Any')]
    country_options = any + [(o, h.country_name(o) + " (%s)" % n) for o, n in h.facet_options('package', 'country')]
    ##donors_options = any + [(o, o + " (%s)" % n) for o, n in h.facet_options('package', 'donors')]
    groups_options = any + [(o, o + " (%s)" % n) for o, n in h.facet_options('package', 'donors')]
  ?>
  <p class="small">
      
  </p>

  Publisher: ${h.select('groups', c.facets.get('groups', '') if c.facets else '', groups_options)}
  Country: ${h.select('country', c.facets.get('country', '') if c.facets else '',  country_options)}
  ##Donor: ${h.select('donors', c.facets.get('donors', '') if c.facets else '', donors_options)}
</form>
