{% extends "static/base.html" %}

{% block subtitle %}Help{% endblock %}

{% block primary_content %}

  <h1>Help</h1>

  <p>These help pages are to assist publishers of IATI data. If you are wanting to access and use IATI data you should navigate to <a title="Using IATI Data" href="http://iatiregistry.org/using-iati-data">“Using IATI Data”</a>.</p>

  <h4>What is the Registry?</h4>
  <p>The Registry is an index of data files published in compliance with the standards of the International Aid Transparency Initiative (IATI). It does not contain the actual data, only <strong><em>links</em></strong> to the published data, and <strong><em>metadata</em></strong> describing the contents of these files.</p>

  <h4>Who maintains the Registry?</h4>
  <p>The Registry site is hosted by the IATI secretariat. Its content is maintained by the publishers of IATI data.</p>

  <h4>How do I register my data?</h4>
  <p>There are five steps you need to take:</p>
  <ol>
    <li>Register as a user</li>
    <li>Login</li>
    <li>Create a New Publisher</li>
    <li>Wait for your Publisher to be authorised</li>
    <li>Register your data</li>
  </ol>

  <h4>How do I register as a user?</h4>
  <p>Submit your details at&nbsp;<a href="http://iatiregistry.org/user/register">http://iatiregistry.org/user/register</a>.</p>

  <h4>How do I create a New Publisher?</h4>
  <p>Make sure that you have logged in and navigate to “<a title="Create a New Publisher" href="http://iatiregistry.org/group/new">Create a New Publisher</a>” on the “Publishers” menu. (This item will not display if you are not logged in.) Fill out the form following the advice associated with each field.</p>

  <h4>Why do I have to wait for my Publisher record to be authorised?</h4>
  <p>This ensures that no-one can use the Registry to publish data purporting to come from an organisation that they are not authorised to represent.</p>

  <h4>The publisher record contains a lot of fields. Do I need to fill them all out?</h4>
  <p>Yes, this is very important as it provides you with an opportunity to explain to the users of the data how to interpret your particular business circumstances and methods of operations and accounting. It also provides a statement of your progress towards full-compliance of the IATI standard that you have agreed to reach.</p>

  <p>If you have a query please send an email to <a href="mailto:support@iatistandard.org">support@iatistandard.org</a>, or go to the standard’s support site at <a href="http://support.iatistandard.org">http://support.iatistandard.org</a>.</p>

{% endblock %}
