{% extends "static/base.html" %}

{% block subtitle %}Registry API{% endblock %}

{% block primary_content %}

  <h1>Registry API</h1>

  <p>The IATI Registry holds meta-data on files published in the <a href="http://www.iatistandard.org" target="_blank">IATI XML format</a>. The files themselves are stored in different places across the web, and you will need to fetch and process the original files yourself. If you are looking for an API directly onto IATI data, then a number of third-party platforms are in development. Consult the <a href="http://wiki.iatistandard.org/tools" target="_blank">tools section of the IATI Wiki</a>, or ask on the <a href="http://wiki.iatistandard.org/community/mailing_list" target="_blank">iati-technical mailing list</a>.</p>

  <p>You can interact with the registry via it’s API, an implementation of the CKAN API. Versions 1, 2 and 3 are all supported. Full <a href="http://docs.ckan.org/en/latest/api.html#version-1-and-2" target="_blank">CKAN API documentation is available here</a>.</p>

  <p>The API returns data in JSON format.</p>

  <h2>Example usage (version 1 API)</h2>

  <p>To fetch all organisation files:</p>
  <p><a href="http://www.iatiregistry.org/api/search/dataset?extras_filetype=organisation">http://www.iatiregistry.org/api/search/dataset?extras_filetype=organisation</a></p>

  <p>To fetch all activity files:</p>
  <p><a href="http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity">http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity</a></p>

  <p>Page through results with the offset and limit parameters. For example:</p>
  <p><a href="http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;offset=100&amp;limit=100">http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;offset=100&amp;limit=100</a></p>

  <p>To fetch an individual dataset use it’s identifier. Full dataset details contain information on downloadable resources (i.e. the IATI XML files)</p>
  <p><a href="http://www.iatiregistry.org/api/rest/dataset/aa-organisation">http://www.iatiregistry.org/api/rest/dataset/aa-organisation</a></p>

  <p>You can also fetch almost all the details of a dataset in the initial response to an API call using the all_fields parameter. For example:</p>
  <p><a href="http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;all_fields=1&amp;offset=0&amp;limit=25">http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;all_fields=1&amp;offset=0&amp;limit=25</a></p>

  <p>The downloadable file details can be found in the res_url field of the JSON response</p>

  <h4>Filters</h4>

  <p>You can filter the responses on the basis of country (by ISO 2-digit code) or publisher (known as ‘organizations’ internally in the registry).</p>

  <p>For example, to fetch all the activity files from DFID use:</p>
  <p><a href="http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;organization=dfid&amp;all_fields=1&amp;limit=200">http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;organization=dfid&amp;all_fields=1&amp;limit=200</a></p>

  <p>To fetch all the activity files which have Ghana as their primary segment, use:</p>
  <p><a href="http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;extras_country=GH&amp;all_fields=1&amp;limit=200" target="_blank">http://www.iatiregistry.org/api/search/dataset?extras_filetype=activity&amp;extras_country=GH&amp;all_fields=1&amp;limit=200</a></p>

  <p>Note: querying for all the activity files with a country as their primary segment does not guarantee you will get all the activities in that country due to the way activities are split into files. For example, an activity that is 60% in Nigeria, and 40% in Ghana would be be in a Nigeria file. It is not currently possible to be sure you have all the activities for a country without processing all files. Work is ongoing to address this.</p>

  <h4>More support?</h4>

  <p>Ask on the <a href="http://wiki.iatistandard.org/community/mailing_list" target="_blank">IATI Technical mailing list</a>.</p>

{% endblock %}
