{% extends "static/base.html" %}

{% block subtitle %}Registry API{% endblock %}

{% block primary_content %}

  <h1>Registry API</h1>

  <p>The IATI Registry holds meta-data on files published in the <a href="http://www.iatistandard.org" target="_blank">IATI XML format</a>. The files themselves are stored in different places across the web, and you will need to fetch and process the original files yourself. If you are looking for an API directly onto IATI data, you can use the <a href="http://datastore.iatistandard.org/" target="_blank">IATI DataStore</a> or consult the <a href="http://wiki.iatistandard.org/tools" target="_blank">tools section of the IATI Wiki</a> to learn about other third-party platforms. In doubt, ask on the <a href="http://wiki.iatistandard.org/community/mailing_list" target="_blank">iati-technical mailing list</a>.</p>

  <p>You can interact with the registry via its API, an implementation of the CKAN API. Full <a href="http://docs.ckan.org/en/latest/api/index.html" target="_blank">CKAN API documentation is available here</a>.</p>

  <p>The API returns data in JSON format.</p>

  <h2>Example usage</h2>

  <p>To fetch organisation files:</p>
  <p><a href="http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:organisation">http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:organisation</a></p>

  <p>To fetch activity files:</p>

  <p><a href="http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:activity/%s/iati2.staging.ckanhosted.com/iatiregistry.org/g/%s/iati2.staging.ckanhosted.com/iatiregistry.org/g">http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:activity</a></p>

  <p>These calls will not return all results by default.  Page through results with the offset and limit parameters. For example:</p>

  <p><a href="http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:activity&start=100&rows=100">http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:activity&start=100&rows=100</a></p>

  <p>To fetch an individual dataset use its identifier. Full dataset details contain information on downloadable resources (i.e. the IATI XML files)</p>
  <p><a href="http://iatiregistry.org/api/3/action/package_show?id=aa-organisation">http://iatiregistry.org/api/3/action/package_show?id=aa-organisation</a></p>

  <p>The downloadable file details can be found in the resource.url field of the JSON response</p>

  <h4>Filters</h4>

  <p>You can filter the responses on the basis of country (by ISO 2-digit code) or publisher (known as ‘organizations’ internally in the registry).</p>

  <p>For example, to fetch all the activity files from DFID use:</p>
  <p><a href="http://iatiregistry.org/api/3/action/package_search?q=organization:dfid">http://iatiregistry.org/api/3/action/package_search?q=organization:dfid</a></p>

  <p>To fetch all the activity files which have Ghana as their primary segment, use:</p>
  <p><a href="http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:activity%20AND%20extras_country:gh" target="_blank">http://iatiregistry.org/api/3/action/package_search?q=extras_filetype:activity%20AND%20extras_country:gh</a></p>

  <p>Note: querying for all the activity files with a country as their primary segment does not guarantee you will get all the activities in that country due to the way activities are split into files. For example, an activity that is 60% in Nigeria, and 40% in Ghana would be be in a Nigeria file. It is not currently possible to be sure you have all the activities for a country without processing all files. Work is ongoing to address this.</p>

  <h4>More support?</h4>

  <p>Ask on the <a href="http://wiki.iatistandard.org/community/mailing_list" target="_blank">IATI Technical mailing list</a>.</p>

{% endblock %}
