{% extends "static/base.html" %}

{% block subtitle %}Using IATI Data{% endblock %}

{% block secondary_content %}

  {{ super() }}
  {% snippet "snippets/datastore_box.html" %}

{% endblock %}

{% block primary_content %}

  <h1>Using IATI Data</h1>

  <p>This Registry provides links to all raw data published using the IATI xml standard. This is machine-readable data that can be exchanged between, and used by, a growing number of tools and applications.</p> 

  <p>An <a href="/registry-api">API</a> is available for accessing the meta-data held on the Registry.</p>

  <p>The <a href="http://www.d-portal.org/">d-portal</a> tool enables data users to view all IATI data either by country or by publisher.</p>


  <h2>Making direct use of IATI Data</h2>

  <p>There are many third party data tools and resources, including those using IATI data, listed in the <a href="http://opendevtoolkit.net/en-US/tools/">Open Development Toolkit</a>.</p>

  <p>Developers can find information on working with IATI data <a href="http://iatistandard.org/201/developer/">here</a> or access help from others in the IATI community in the <a href="http://discuss.iatistandard.org/">Discuss</a> forum.</p>


  <h2>Tracking IATI Data</h2>

  <p>The IATI <a href="/">Registry</a> provides activity streams for all packages and publishers. These are accessible via the ‘history’ and ‘activity stream’ tab on any publisher page in the Registry (see image below). The IATI <a href="http://dashboard.iatistandard.org/index.html">Dashboard</a> provides a variety of statistics on IATI data and monitors updates to IATI data.</p>

  <img src="/images/publisher_page.png" alt="Publisher Page" width="600" />


{% endblock %}
