<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Home</py:def>

  <py:def function="optional_head">
  <script src="/scripts/jquery.tagcloud.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $.fn.tagcloud.defaults = {
        size: {start: 10, end: 32, unit: "pt"}, 
        color: {start: '#af8', end: '#f52'}
      };
      $("#tagcloud a").tagcloud();
    })
  </script>
  <style type="text/css">
    #tagcloud * {
      display: inline-block;
      vertical-align: middle;
			line-height: 0.9;
    }

    #tagcloud a {
      text-decoration: none;
    }

    #tagcloud a:hover {
      text-decoration: underline;
    }

    #tagcloud {
      margin: 25px auto;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="/css/overrides.css" type="text/css" media="screen, print" />
  <link rel="stylesheet" href="/fonts/fonts.css" type="text/css" media="screen, print" />

  </py:def>

  <div py:match="content">

        <div class="page type-page hentry">
          <div class="entry-content">
            <div id="minornavigation">
              <minornavigation></minornavigation>
            </div>
            <!-- support both options for defining content -->
            <div>
    <h1>Welcome to the IATI registry <span>The online repository of IATI data links</span></h1>
    <div id="id-like-to">
      I'd like to
    </div>
      <div id="home-options">
        <ul>
          <li>
            <img id="news-image" src="/images/home-news.png"/>
            <h1>
              <em>Keep up</em><br/>
              With the latest <b>IATI</b> news
            </h1>
            <p>
              Visit aidtransparency.net to read about IATI and learn about new developments.
            </p>
            <a class="go" href="/">Go &raquo;</a>
          </li>
          <li>
            <img src="/images/home-search.png"/>
            <h1>
              <em>Search</em><br/>
              The <b>IATI</b> registry
            </h1>
            <p>
              Find links to IATI records from contributing parties.
            </p>
            <a class="go" href="/">Go &raquo;</a>
          </li>
          <li>
            <img src="/images/home-visualise.png"/>
            <h1>
              <em>Visualise</em><br/>
              Data with third-party tools
            </h1>
            <p>
              Learn about third-party tools to visualise and manipulate the IATI datasets.
            </p>
            <a class="go" href="/">Go &raquo;</a>
          </li>
          <li>
            <img src="/images/home-learn.png"/>
            <h1>
              <em>Learn</em><br/>
              About the <b>IATI</b> standard
            </h1>
            <p>
              Get to grips with the techincal side of IATI.
            </p>
            <a class="go" href="/">Go &raquo;</a>
          </li>
        </ul>
      </div>
	  </div>
	  <h1>What is the IATI registry?</h1>
	  <p class="two-col">
	    Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna 
      Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum.
	  </p>
          </div><!-- .entry-content -->
        </div>
        <div id="comments">
        </div><!-- #comments -->
      </div> <!-- #content -->


  <xi:include href="layout.html" />
</html>
