<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Home</py:def>

  <py:def function="optional_head">
  <script src="/scripts/jquery.tagcloud.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $.fn.tagcloud.defaults = {
        size: {start: 10, end: 32, unit: "pt"}, 
        color: {start: '#af8', end: '#f52'}
      };
      $("#tagcloud a").tagcloud();
    })
  </script>
  <style type="text/css">
    #tagcloud * {
      display: inline-block;
      vertical-align: middle;
			line-height: 0.9;
    }

    #tagcloud a {
      text-decoration: none;
    }

    #tagcloud a:hover {
      text-decoration: underline;
    }

    #tagcloud {
      margin: 25px auto;
      text-align: center;
    }
  </style>
  </py:def>

  <py:match path="primarysidebar">
    <div class="box">
      <p>The International Aid Transparency Initiative (<b>IATI</b>) makes 
      information about aid spending easier to <b>access</b>, <b>use</b> and 
      <b>understand</b>.</p> 
      <p>This is a registry of data on international development activities. 
      The registry itself <b>stores no data</b> but provides a searchable index, 
      feeds, and links to datasets hosted by donor <b>agencies</b>, <b>community 
      organisations</b> and <b>partner countries</b>.</p>
      <ul>
          <li><a href="http://aidtransparency.net">Aid Transparency Project</a></li>
          <li><a href="http://iatistandard.org">IATI Reporting Standard</a></li>
      </ul>
    </div>
  </py:match>

  <div py:match="content">
    <p>
        The IATI Registry is a hub for international development data published by agencies, community orgranisations and partner countries in a standard, open format.
    </p>
    
    <h4>Search for IATI activity records</h4>
    <xi:include href="../package/search_form.html" />
    
    <h4>Latest Data</h4>
    <?python 
    from itertools import chain
    packages = set(chain(*[r.packages for r in c.revisions]))
    ?>
    ${package_list(packages)}
    
    <p><a href="${h.url_for(controller='revision', action='index',
      id=None)}">View revision data &raquo;</a></p>
  </div>

  <xi:include href="layout.html" />
</html>
