<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Home</py:def>

  <py:def function="optional_head">
  <script src="/scripts/jquery.tagcloud.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $.fn.tagcloud.defaults = {
        size: {start: 10, end: 32, unit: "pt"}, 
        color: {start: '#af8', end: '#f52'}
      };
      $("#tagcloud a").tagcloud();
    })
  </script>
  <style type="text/css">
    #tagcloud * {
      display: inline-block;
      vertical-align: middle;
			line-height: 0.9;
    }

    #tagcloud a {
      text-decoration: none;
    }

    #tagcloud a:hover {
      text-decoration: underline;
    }

    #tagcloud {
      margin: 25px auto;
      text-align: center;
    }
  </style>
  </py:def>

  <py:match path="primarysidebar">
    <div class="box">
      <p>The International Aid Transparency Initiative (<b>IATI</b>) makes 
      information about aid spending easier to <b>access</b>, <b>use</b> and 
      <b>understand</b>.</p> 
      <p>This is a registry of data on international development activities. 
      The registry itself <b>stores no data</b> but provides a searchable index, 
      feeds, and links to datasets hosted by donor <b>agencies</b>, <b>community 
      organisations</b> and <b>partner countries</b>.</p>
    </div>
  </py:match>

  <div py:match="content">
    <h2>Welcome to the IATI Registry</h2>
    
    <p i18n:msg="package_count"><strong>${c.package_count} registered data packages</strong> available.</p>
    
    
    <script type="text/javascript">
        <?python 
        facets = h.facet_options('package', 'country')
        ?>
        var iati_map_data = {
          cols: [{id: 'c', label: 'Country', type: 'string'},
                 {id: 'p', label: 'Records', type: 'number'}
                ],
                
          rows: [
          <py:for each="country, count in facets">
              {c:[{v: '${h.country_name(country)}'}, {v: ${count}}]},
          </py:for>
                ],
        }
        
        
    </script>
    <script type="text/javascript" src="/scripts/iati_map.js"></script>
    <div id="iati_map"></div>
    
    <xi:include href="../package/search_form.html" />
    
    
    <h4>Recently changed</h4>
    <table class="recent-changes">
      <tr>
        <th>Packages</th>
        <th>Author</th>
        <th class="greyed">Time</th>
      </tr>
      <tr py:for="rev in c.revisions">
        <td>
        <py:for each="pkg in rev.packages[:10]">
        <a href="${h.url_for(controller='package', action='read', id=pkg.name)}">${pkg.name}</a>
        </py:for>
        ${'...' if len(rev.packages) > 10 else ''}
        </td>
        <td>${rev.author}</td>
        <td class="greyed">${rev.timestamp.replace(microsecond=0)}</td>
      </tr>
    </table>
    <p><a href="${h.url_for(controller='revision', action='index',
      id=None)}">View older changes &raquo;</a></p>
  </div>

  <xi:include href="layout.html" />
</html>
