{% import 'macros/form.html' as form %}

{% if data.get('extras', [])|length %}
  {% set extras_dict = h.extras_to_dict(data) %}
{% else %}
  {% set extras_dict = data %}
{% endif %}

<fieldset class="fieldset-1">

  <legend>Basic Information</legend>

  {{ form.input('name', id='field-name', label=_('File Id'), placeholder=_('eg. my-dataset'), value=data.name, error=errors.name) }}
  <p class="help-block"><span class="field-xml">[registry-file-id]</span> A unique identifier for the activity record. It must be prefixed with your Publisher Id and a hyphen. It is recommended that you use "org" for your organisation file and the country or region code for segmented activity datasets. 2+ characters, lowercase, using only 'a-z0-9' and '_' . (eg dfid-ao, wb-org, unops-998).

  </p>

  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full'], attrs={'data-module': 'slug-preview-target'}) }}
  <p class="help-block"><span class="field-xml">[title]</span> The title of the dataset. It should not be a description though - save that for the Notes field. Do not give a trailing full stop.

  </p>

  {{ form.input('author_email', id='field-author_email', label=_('Contact e-mail'), value=data.author_email, error=errors.author_email) }}
    <p class="help-block"><span class="field-xml">[contact-email]</span> A contact address for anyone wishing to query you about your data. Please note that IATI is an open data standard and the email provided here will be visible to others via the IATI Registry.</p>

  <div class="control-group">
    {% set error = errors.filetype %}
    <label class="control-label" for="field-filetype">{{ _("File Type") }}</label>
    <div class="controls">
      <select id="field-filetype" name="filetype">
          <option value="activity" {% if extras_dict.get('filetype') == 'activity' %}selected="selected"{% endif %}>{{ _("Activity") }}</option>
          <option value="organisation" {% if extras_dict.get('filetype') == 'organisation' %}selected="selected"{% endif %}>{{ _("Organisation") }}</option>
      </select>
      {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
  </div>
  <p class="help-block"><span class="field-xml">[file-type]</span> Choose from dropdown. Either "Activity" or "Organisation".</p>

  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
    <p class="help-block">Choose "Active" to reactivate a deleted dataset.</p>
  {% endif %}


</fieldset>

<fieldset class="fieldset-2">
  <legend>Publisher</legend>

  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available or user_is_sysadmin %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_organizations_selector and show_visibility_selector %}
    <div data-module="dataset-visibility">
  {% endif %}

  {% if show_organizations_selector %}

  {% set existing_org = data.owner_org %}
  <div class="control-group">
    <label for="field-organizations" class="control-label">{{ _('Publisher') }}</label>
    <div class="controls">
      <select id="field-organizations" name="owner_org" data-module="autocomplete">
        <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('Select a publisher...') }}</option>
        {% for organization in organizations_available %}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <p class="help-block">Choose your own Publisher Name from the Dropdown. Your Publisher record needs to have been created and authorised by the Registry administrator before you can publish datsets.</p>
  {% endif %}

  {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
      <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
          <select id="field-private" name="private">
            {% for option in [('False', _('Public')), ('True', _('Private'))] %}
            <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}
  {% endif %}

  {% if show_organizations_selector and show_visibility_selector %}
    </div>
  {% endif %}
  {{ form.input('secondary_publisher', id='field-secondar-publisher', label=_('Secondary Publisher'), value=extras_dict.get('secondary_publisher'), error=errors.secondary_publisher, classes=['control-full']) }}
  <p class="help-block">The publisher this dataset is published on behalf of.</p>

</fieldset>

<fieldset class="fieldset-3">
  <legend>Details</legend>

  {% snippet 'snippets/country_list.html', data=extras_dict, errors=errors, field_name='country' %}
  <p class="help-block"><span class="field-xml">[recipient-country]</span> Recipient country.</p>

  {{ form.input('data_updated', id='field-date-uploaded', label=_('Date Updated'), value=extras_dict.get('data_updated'), error=errors.data_updated, classes=['control-full']) }}
  <p class="help-block"><span class="field-xml">[last-updated-datetime]</span> Acceptable formats: 'YYYY-MM-DD HH:MM', 'YYYY-MM-DD', 'YYYY-MM', 'YYYY'.</p>

  {{ form.input('language', id='field-language', label=_('Language'), value=extras_dict.get('language'), error=errors.language, classes=['control-full']) }}
  <p class="help-block"><span class="field-xml">[default-language]</span> The ISO 639-1 code for the default language of the file (e.g. 'en').</p>

  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, classes=['control-full'], attrs=tag_attrs) }}

  {{ form.markdown('notes', id='field-notes', label=_('Description'), placeholder=_('eg. Some useful notes about the data'), value=data.notes, error=errors.notes) }}

</fieldset>

<fieldset class="fieldset-4">
  <legend>Data File</legend>
  {% set resources = {} %}
  {% if data.get('resources')[0] is defined %}
    {% set resources = data['resources'][0] %}
  {% endif %}
  {% if errors.get('resources') %}
    {% set errors_resources = errors['resources'][0] %}
  {% else %}
    {% set errors_resources = {} %}
  {% endif %}

  {{ form.input('resources__0__url', id='resource-url', label=_('URL'), value=resources.get('url'), placeholder="eg. http://example.com/iati-activities.xml", error=errors_resources.url, classes=['control-full', 'control-large']) }}
  <p class="help-block">This is the Internet link directly to the data - by selecting this link in a web browser, the user will immediately download the full dataset. All files should be in XML following the <a href="http://iatistandard.org" target="_blank">IATI standard</a>. Note that datasets are not hosted on this site, but by the publisher of the data. Please ensure files are less than 40MB.</p>

  {{ form.input('resources__0__format', id='field-resource_format', label=_('Format'), value=resources.get('format') or 'IATI-XML', error=errors.format, classes=['control-medium']) }}
  <p class="help-block">This should give the file format in which the data is supplied. IATI-compliant data should specify "IATI-XML".</p>


</fieldset>

<fieldset class="fieldset-5">
  <legend>Verification and Analysis</legend>

  {{ form.input('iati_version', id='field-iati-version', label=_('IATI Standard Version'), value=extras_dict.get('iati_version'), error=errors.iati_version, classes=['control-full']) }}
  {{ form.input('activity_count', id='field-activity-count', label=_('Num. Activities'), value=extras_dict.get('activity_count'), error=errors.activity_count, classes=['control-full']) }}
  <p class="help-block"><span class="field-xml">[activiy-count]</span> A count of the number of activities reported.</p>

</fieldset>
