<section>
  {% if resources %}
    <ul class="resources">
      {% for resource in resources %}
        {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource %}
      {% endfor %}
    </ul>
  {% else %}
    {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
          {% trans url=h.url_for('resource.new', id=pkg.name) %}
            <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
      {% else %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
      {% endif %}
  {% endif %}
</section>
