-e git+https://github.com/keitaroinc/ckanext-archiver.git@test-requirements-iati#egg=ckanext-archiver
-r https://raw.githubusercontent.com/keitaroinc/ckanext-archiver/test-requirements-iati/requirements.txt
ndg-httpsclient>=0.4.0
requests==2.7.0
pyOpenSSL>=0.15.1
pyasn1>=0.1.7
lxml==3.6.4
email_validator==1.0.2
celery==3.1.0
kombu==3.0.30

