{% ckan_extends %}

{% block content %}

  <div id="home-welcome" class="container">

    {{ self.flash() }}

    {% trans %}
      <h1><strong>IATI Data</strong> is the place to search, register and use IATI data.</h1>
    {% endtrans %}
  </div>

  <div id="home-icons">
    <div class="container">
      <div class="icon registry">
        <h2><a href="/datastore">Search IATI Data</a></h2>
        <a href="/datastore" class="block">Datastore</a>
        <p>The IATI Datastore gathers all data published to the IATI standard into a single queryable source.</p>
        <ul>
          <li><a href="/dataset">Search datasets on the IATI Registry</a></li>
          <li><a href="/publisher">See a list of IATI publishers</a></li>        
        </ul>
      </div>
      <div class="icon detail">
        <h2><a href="/publisher">Register a Publisher</a></h2>
        <div class="block">
          <strong>{{ h.get_num_active_publishers() }}</strong> Organisations have published so far
        </div>
        <p>The IATI Registry is the place for publishers to log links to their data.</p>
        <ul>
          <li><a href="/help">How do I register my data?</a></li>
          <li><a href="/about">How does the IATI Registry work?</a></li>        
        </ul>
      </div>
      <div class="icon support">
        <h2><a href="/using-iati-data.html">Using IATI data</a></h2>
        <a href="/dashboard" class="block">Dashboard</a>
        <p>The IATI Dashboard provides statistics, charts and metrics on IATI data</p>
        <ul>
          <li><a href="/tools">See a list of projects, websites and tools that utilise IATI data</a></li>
          <li><a href="/registry-api">Developer?  Resources to help.</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="home-apps" class="container">
    {% snippet "home/apps.html" %}
  </div>

{% endblock %}
