{% extends "page.html" %}

{% block title %}CSV Export - {{ super() }}{% endblock %}

{% block primary_content %}

<h2 class="page_heading">CSV Export</h2>

<article>
  <p>Select a Publisher to download all its records in CSV format.</p>
  <p><strong>Warning:</strong>For publishers with a large number of datasets it may take a while to generate the CSV file. Please be patient.</p>
  <p>Alternatively, you can download an empty CSV <a href="/csv/download/template">Template</a>.</p>


{% block organizations_search_form %}
 {% set facets = {
      'fields': c.fields_grouped,
      'search': c.search_facets,
      'titles': c.facet_titles,
      'translated_fields': c.translated_fields,
      'remove_field': c.remove_field }
    %}
    {% snippet 'snippets/search_form.html', type='organization', not_disp_query=True,
    site_search_label=_('Search for Publishers'), query=c.q, sorting_selected=c.sort_by_selected,
    count=c.page.item_count, facets=facets, placeholder=_('Search publishers...'),
    show_empty=request.params, sorting=[(_('Title Ascending'), 'title asc'), (_('Title Descending'), 'title desc')] %}

{% endblock %}

{% block organizations_list %}

{% if c.page.items or request.params %}

  {{ h.snippet('organization/snippets/organization_list_rec_download.html', organizations=c.page.items) }}

{% else %}
  <p class="empty">
    {{ _('There are currently no organizations the logged in user.') }}.
    {% if h.check_access('organization_create') %}
      {% link_for _('How about creating one?'), controller='organization', action='new' %}
    {% endif %}
  </p>
{% endif %}
{% endblock %}


{% block page_pagination %}
    {% if c.page.items or request.params %}
      {{ h.publishers_pagination(c.q) }}
    {% endif %}
  {% endblock %}


</article>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% resource 'ckanext-iati/table_sorter' %}
{% endblock %}
