{% extends "page.html" %}

{% block title %}CSV Import - {{ super() }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Import Datasets'), named_route='spreadsheet.csv_upload_datasets' %}</li>
{% endblock %}

{% block primary_content %}

<h2 class="page_heading">CSV Import</h2>
    <ul>
        <li>IATI requires that you create a registry record for each file of IATI-xml data that you publish.</li>
        <li>You may use this import utility to register or update the metadata of these records</li>
        <li>Please provide a spreadsheet in CSV format containing IATI registry records metadata</li>
        <li>Your file must follow the format specified in this <a href="{{ h.url_for('spreadsheet.download_publisher_records', id='template') }}">Template</a>.</li>
        <li>Guidance on the contents of this file can be found <a href="{{ h.url_for('help.csv_import') }}">here</a>.</li>
    </ul>
    <fieldset>
      <legend>Upload file</legend>
      <form id="csv-upload" action="/csv/upload" method="POST" enctype="multipart/form-data" class="form-horizontal" data-module="upload-animation">
        <div class="form-group">
          <label for="file">CSV File</label>
          <input name="file" type="file" id="file">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="submit"><i class="fa fa-upload"></i> Upload</button>
          <span id="animation" class="upload-animation" style="display: none"><img src="/base/images/loading-spinner.gif" alt="Loading" /> Uploading and processing file. Please be patient, this can take a while.</span>
        </div>
      </form>
    </fieldset>
    <h3>Note:</h3>
    <ul>
        <li>Metadata fields of all the uploaded files would take one day to reflect in dataset page</li>
     </ul>
    <h3>Warning:</h3>
    <div class="listdiv">
    <ul>
        <li>For publishers with a large number of datasets it may take a while to upload the CSV file. Please be patient.</li>
        <li>You may only upload records that contain your authorised registry-publisher-id.</li>
        <li>This import will overwrite all fields in each record specified in the file. Blank cells in the file will overwrite existing data.</li>
        <li>This import will not delete records in the registry. To delete a record follow the instructions <a href="{{ h.url_for('help.delete_datasets') }}">here</a>.</li>
        <li>Excel users be aware that by default Excel does not quote fields when exporting a file to CSV. In this case the delimiter <strong>must</strong>
        be a comma in order for the file to get properly imported. If the fields are quoted, the allowed delimiters are comma, semicolon and tab.</li>
        <li>If you keep getting import errors, check if any of the fields (specially the URL) contain special characters. If this is the case, these fields should be quoted.</li>
        <li>Please ensure your IATI XML files are less than 40MB. Larger IATI activity files can be split down into multiple sub-files e.g. split by country,region or date, with each activity contained in only one file."</li>
      </ul>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'ckanext-iati/upload_animation' %}
{% endblock %}

