<div class="module">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Publishers') }}
  </h2>
  <div class="module-content">
      <p>In the publisher list you will see all of those who have set up accounts to publish to the IATI Registry and have also uploaded at least one public dataset. If a publisher has not yet published files, then their name will not be included here. The number of publishers highlighted on the homepage of the IATI Registry reflects the number of publishers shown here.</p>
  </div>
</div>
