{#
Display a grid of organization items.

organizations - A list of organizations.

Example:

    {% snippet "organization/snippets/organization_list_ids.html" %}

#}
<table class="table table-hover table-bordered table-striped table-sorted" {% if not is_admin_page %}data-module="table-sorter"{% endif %}>
  <thead>
    <tr>
      <th title="Sort by publisher name">Publisher</th>
      <th title="Sort by organisation identifier">IATI Organisation Identifier</th>
      <th title="Sort by organisation type">Organisation Type</th>
      {% if is_admin_page %}
        <th title="Sort by country">First Published Date</th>
      {% else %}
        <th title="Sort by country">HQ Country / Region</th>
      {% endif %}
      <th title="Sort by number of published datasets">Datasets</th>
    </tr>
  </thead>

  <tbody>
  {% for organization in organizations %}
   {% set extra_fields = h.get_publisher_obj_extra_fields_pub_ids(organization) %}

    {% if is_admin_page or organization.package_count > 0 or 'dashboard' in request.url %}
      <tr>
        <td><a href="{{ h.url_for('publisher.read', id=organization.name) }}">{{ h.normalize_publisher_name(organization.title) }}</a></td>
        <td>{{ extra_fields.publisher_iati_id }}</td>
        <td>{{ extra_fields.publisher_organization_type }}</td>
        {% if is_admin_page %}
          <td>{{ extra_fields.publisher_first_publish_date }}</td>
        {% else %}
          <td>{{ extra_fields.publisher_country }}</td>
        {% endif %}
        <td>{{ organization.package_count }}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
{% resource 'ckanext-iati/table_sorter' %}
