{#
Display a grid of organization items.

organizations - A list of organizations.

Example:

    {% snippet "organization/snippets/organization_list.html" %}

#}
<table class="table table-hover table-bordered table-striped table-sorted" data-module="table-sorter">
  <thead>
    <tr>
      <th title="Sort by publisher name">Publisher</th>
      <th title="Sort by organisation type">Organisation Type</th>
      <th title="Sort by country">Country / Region</th>
      <th title="Sort by number of published datasets">Datasets</th>
    </tr>
  </thead>

  <tbody>
  {% for organization in organizations %}
    {% if organization.packages > 0 %}
      {% set extra_fields = h.get_publisher_extra_fields(organization.id) %}
      <tr>
        <td><a href="/publisher/{{ organization.name }}">{{ h.normalize_publisher_name(organization.display_name) }}</a></td>
        <td>{{ extra_fields.publisher_organization_type }}</td>
        <td>{{ extra_fields.publisher_country }}</td>
        <td>{{ organization.packages }}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>

{% resource 'ckanext-iati/table_sorter' %}
