
body {
	background: #E8F2F7;
	/* margin: 0px; */
	min-height: 100%;
}

#airlock {
	margin: 0px auto;
	/* padding: 0px; */
	width: 940px;
	background-color: white;
	overflow: visible;
	min-height: 100%;
}

#wrapper {
	background: white;
}

#main {
	position: relative;
	overflow: visible;
}

#top {
	margin: 0px;
	padding: 0em;
	padding-top: 0.5em;
}

#top-inner {
	margin: 0px;
	border-bottom: 0px;
}

#top-bar {
	border-bottom: 0px;
	padding-right: 1em;
}

#navigation {
	background: url("/images/fade.png") repeat-x scroll center bottom transparent;
	display: block;
	height: 2em;
}

#navigation, #subnav {
	margin: 0px;
	padding-left: 2em;
	padding-right: 2em;
	min-height: 38px;
}

#subnav {
	border-top: none;
	background: none;
}

#navigation li a, #navigation li a:link, #navigation li a:visited  {
	background: none; 
	color: #425B6B !important;
	font-size: 15px;
	padding: 0 20px;
	line-height: 38px;
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

#navigation li a.active {
	background: white !important; 
	border: 2px solid #999;
	border-bottom: none;
	margin-top: -2px;
}

#navigation li a:hover {
	background: #666 !important; 
	color: white !important; 
}

#branding a {
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	color: #425B6B;
	font-size: 35pt;
	font-weight: normal;
	padding-top: 1em;
}

#site-description {
	background: url("/images/iati-logo.png") no-repeat scroll 0 0 transparent;
	height: 84px;
	margin: 0 82px;
	width: 246px;
	clear: right;
	float: right;
	font-style: italic;
}

h1#site-title {
	margin-left: 1em;
	line-height: 1.4em;
}

.package h3, .package h4 { 
	color: #425B6B;
	background-color: #BBE3F7;
}
a, a:link {
	color: #0097D8;
}

a, a:visited {
	color: #25237B;
}

#navigation li a,
#navigation li a:link,
#navigation li a:hover,
#navigation li a:visited {
	color: #0097D8;
}

body, #table, .box {
	color: #425B6B;
}