{% ckan_extends %}

{% block primary_content %}
  
  {% if c.pkg_dict.state == 'pending' %}
    <div class="alert alert-warning m-top">
    This dataset is in a pending state.
    </div>
  {% endif %}

  {% if c.pkg_dict.state == 'deleted' %}
    <div class="alert alert-danger m-top">
    This dataset has been deleted.
    </div>
  {% endif %}

  {{ super() }}

{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {% set history_link = h.nav_link(_('History'), controller='package', action='history', id=pkg.name, icon='code-fork') %}
  {% set active_check = history_link|replace("active", "")|length %}
  <li{% if history_link|length != active_check %} class="active" {% endif %}>{{ history_link }}</li>
{% endblock %}

{% block package_social %}
  <div class="module">
    <h2 class="module-heading">
      <i class="icon-user"></i> Author contact
    </h2>
    <div class="module-content">
      {{ c.pkg_author_link }}
    </div>
  </div>
  <div class="module">
    <h2 class="module-heading">
      <i class="icon-file"></i> Alternative formats
    </h2>
    <ul class="nav nav-simple">
      <li class="nav-item">
        {% set api_url = h.url_for(controller='api', logic_function='package_show', action='action', id=c.pkg.name, ver=3) %}
        <a href="{{ g.api_url ~ api_url }}">JSON</a>
      </li>
      {% if g.rdf_packages %}
        <li class="nav-item">
          <a href="{{ g.rdf_packages ~ pkg.name }}">RDF</a>
        </li>
      {% endif %}
    </ul>
  </div>
  {{ super() }}
{% endblock %}

{% block package_organization %}
  {% if pkg.organization %}
    {% with organization=pkg.organization, truncate=truncate or 0, url=h.url_for(controller='organization', action='read', id=pkg.organization.name) %}
      <div class="module module-narrow module-shallow context-info">
        <h2 class="module-heading"><i class="icon-building"></i> {{ _('Publisher') }}</h2>
        <section class="module-content">
          <h1 class="heading">
            <a href="{{ url }}">{{ organization.title or organization.name }}</a>
          </h1>
        </section>
      </div>
    {% endwith %}
  {% endif %}
{% endblock %}

{% block package_license %}{% endblock %}
