<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Publishers</py:def>
  <py:def function="page_heading">Publishers</py:def>
  <div py:match="content">
      <script>
        $(document).ready(function(){
          $('#groups').tablesorter({sortList: [[0,0]]});
        });
      </script>
      <div style="margin-bottom: 40px">
        In the publisher list you will see all of those who have set up accounts to publish to the IATI Registry. Where you see zero files against a publisher name, this simply means they have not yet published files and are still in the preparatory stages. The number of publishers highlighted on the homepage of the IATI Registry reflects only those who have published files.
      </div>
  <!--!  Show the full results, as paginated results can't be sorted -->
  <!--!  ${c.page.pager()}-->
    ${group_list_from_dict_local(c.page.collection)}
  <!--!  ${c.page.pager()}-->
  </div>
  <xi:include href="layout.html" />
</html>
