.dataset-heading a {
  font-weight: bold;
}

.search-form,
.dataset-item {
  border-bottom-style: solid;
  border-bottom-color: #EEE;
}

.resources {
  margin-bottom: @unit;
}

.resource-item .btn-group {
  top: 10px;
}
