.form-horizontal {
  .control-label {
    float: left;
    font-weight: normal;
  }
  .control-group {
    margin-bottom: (@unit*1.5);
  }
}

.stages {
  margin: 0 0 (@unit*2) 0;
  .border-radius(@border-radius);
}

form .info-block.info-inline {
  display: none;
}

.radio.inline {
  display: inline;
}

.dataset-form-resource-types {
  margin-bottom: 10px !important;
}
.dataset-form-resource-types input[type=radio]:checked+label:after {
  bottom: -19px;
}

.form-actions {
  margin: @unit 0 0 0;
  padding: @unit 0 0 0;
  border-top: 3px solid @gray-lighter;
}
.form-horizontal .form-actions {
  padding-left: 0;
  padding-right: 0;
}
