// Base variables
@iati-base-color: #0098DB;

// Where are the dependancies located?
@bootstrap-folder: "../bower_components/bootstrap/less/";
@font-awesome-folder: "../bower_components/font-awesome/less/";

// Now import dependancies
@import "bootstrap.less";
@import "font-awesome.less";

// Now the iati specifics
