.nav-simple {
  li a {
    padding: (@unit/3) @unit;
  }
}

.breadcrumb,
.page_primary_action {
  margin: 0;
  padding: 0 0 @unit 0;
  border-bottom: 3px solid @gray-lighter;
}

.breadcrumb {
  background-color: transparent;
  .border-radius(0);
  li.home {
    span {
      display: none;
    }
    .icon-home {
      font-size: 14px;
      width: auto;
      vertical-align: 0;
    }
  }
}

.page_primary_action {
  margin-bottom: @unit;
}
