<form id="package-edit" method="post"
    py:attrs="{'class':'has-errors'} if errors else {}"
    xmlns:i18n="http://genshi.edgewall.org/i18n"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

    <div class="error-explanation" py:if="error_summary">
        <h3>Errors in form</h3>
        <p>The form contains invalid entries:</p>
        <ul>
            <li py:for="key, error in error_summary.items()">${"%s: %s" % (key, error)}</li>
        </ul>
    </div>

    <fieldset>
        <legend>Basic information </legend>
        <dl>
            <dt><label class="field_req" for="name">File Id *</label><div class="field-xml">[registry-file-id]</div></dt>
            <dd><input id="name" name="name" type="text" value="${data.get('name', '')}" /></dd>
            <dd class="field_error" py:if="errors.get('name', '')">${errors.get('name', '')}</dd>
            <dd class="instructions basic">A unique identifier for the activity record. It must be prefixed with your Publisher Id and a hyphen. It is recommended that you use "org" for your organisation file and the country or region code for segmented activity datasets. 2+ characters, lowercase, using only 'a-z0-9' and '-_' . (eg dfid-ao, wb-org, unops-998).</dd>

            <dt><label class="field_opt" for="title">Title </label><div class="field-xml">[title]</div></dt>
            <dd><input id="title" name="title" type="text" value="${data.get('title', '')}" /></dd>
            <dd class="field_error" py:if="errors.get('title', '')">${errors.get('title', '')}</dd>
            <dd class="instructions basic">The title of the dataset. It should not be a description though - save that for the Notes field. Do not give a trailing full stop.</dd>

            <dt><label class="field_opt" for="author_email">Contact e-mail</label><div class="field-xml">[contact-email]</div></dt>
            <dd><input id="author_email" name="author_email" type="text" value="${data.get('author_email', '')}" /></dd>
            <dd class="instructions basic">A contact address for anyone wishing to query you about your data.</dd>

            <dt><label class="field_opt" for="state">File type</label><div class="field-xml">[file-type]</div></dt>
            <dd>
                <select id="filetype" name="filetype">
                    <option py:attrs="{'selected': 'selected' if data.get('filetype') == 'activity' else None}" value="activity">Activity</option>
                    <option py:attrs="{'selected': 'selected' if data.get('filetype') == 'organisation' else None}" value="organisation">Organisation</option>
                </select>
            </dd>
            <dd class="instructions basic">Choose from dropdown. Either "Activity" or "Organisation".</dd>
        </dl>
    </fieldset>

    <fieldset id="groups">
        <legend>Publisher</legend>
        <dl>
        <py:for each="num, group in enumerate(data.get('groups', []))">
            <?python
            if 'id' in group:
                authorized_group = [group_authz for group_authz in c.groups_authz if group_authz['id'] == group['id']]
                authorized_group = authorized_group[0] if authorized_group else None
            ?>

            <dt py:if="'id' in group">
                <input type="${'checkbox' if authorized_group else 'hidden'}" name="groups__${num}__id" checked="checked" value="${group['id']}" />
                <input type="hidden" name="groups__${num}__name" value="${group.get('name', authorized_group['name'] if authorized_group else '')}" />
            </dt>
            <dd py:if="'id' in group"><label for="groups__${num}__checked">${group.get('name', authorized_group['name'] if authorized_group else '')}</label></dd>
        </py:for>

        <dt>Publisher</dt>
            <dd py:if="c.groups_available">
            <select id="groups__${len(data.get('groups', []))}__id" name="groups__${len(data.get('groups', []))}__id">
                <dd py:if="data.get('groups',[])">
                    <option value="" >(None)</option>
                </dd>
                <py:for each="group in c.groups_available">
                    <option value="${group['id']}" >${group['title']}</option>
                </py:for>
            </select>
            </dd>
            <dd py:if="not c.groups_available">Cannot add any publisher.</dd>
            <dd class="instructions basic">Choose your own Publisher Name from the Dropdown. Your Publisher record needs to have been created and authorised by the Registry administrator before you can publish datsets.</dd>
        </dl>

    </fieldset>

    <fieldset>
        <legend>Details</legend>
        <dl>
            <dt><label class="field_opt" for="country">Recipient country</label><div class="field-xml">[recipient-country]</div></dt>
            <dd>
                <py:with vars="country = data.get('country','')">
                <select id="country" name="country">
                    <py:for each="name,id in c.countries">
                    <option value="${id}" py:attrs="{'selected': 'selected' if country == id else None}">${name}</option>
                    </py:for>
                </select>
                </py:with>
            </dd>
            <dd class="instructions basic">Select the country or region (listed below the countries in the dropdown).</dd>

            <dt><label class="field_opt" for="record_updated">Record updated</label><div class="field-xml">[generated-datetime]</div></dt>
            <dd><input id="record_updated" name="record_updated" size="40" type="text" value="${data.get('record_updated', '')}" /></dd>
            <dd class="instructions basic">The date on which this metadata was last updated. Acceptable formats: 'DD/MM/YYYY HH:MM', 'DD/MM/YYYY', 'MM/YYYY', 'YYYY'.</dd>

            <dt><label class="field_opt" for="data_updated">Data updated</label><div class="field-xml">[last-updated-datetime]</div></dt>
            <dd><input id="data_updated" name="data_updated" size="40" type="text" value="${data.get('data_updated', '')}"/></dd>
            <dd class="instructions basic">The date on which the linked file was last updated. Acceptable formats: 'DD/MM/YYYY HH:MM', 'DD/MM/YYYY', 'MM/YYYY', 'YYYY'.</dd>

            <dt><label class="field_opt" for="record_updated">Language</label><div class="field-xml">[default-language]</div></dt>
            <dd><input id="language" name="language" size="40" type="text" value="${data.get('language', '')}" /></dd>
            <dd class="instructions basic">The ISO 639-1 code for the default language of the file (e.g. 'en').</dd>

            <dt><label class="field_opt" for="tags">Tags</label></dt>
            <dd>
                <input class="autocomplete-tag" id="tag_string" name="tag_string" size="40" type="text"
                       value="${data.get('tag_string') or ' '.join([tag['name'] for tag in data.get('tags', [])])}" />
            </dd>
            <dd class="field_error" py:if="errors.get('tag_string', '')">${errors.get('tag_string', '')}</dd>
            <dd class="instructions basic">Terms that may link this dataset to similar ones. For more information on conventions, see <a href="http://wiki.okfn.org/ckan/doc/faq#TagConventions">this wiki page</a>.</dd>
            <dd class="hints">e.g. pollution rivers water-quality</dd>

            <dt><label class="field_opt" for="notes">Notes</label></dt>
            <dd><textarea cols="60" id="notes" name="notes" rows="15">${data.get('notes', '')}</textarea></dd>
            <dd class="instructions basic">The main description of the dataset</dd>
            <dd class="instructions further">It is often displayed with the record title. In particular, it should start with a short sentence that describes the data set succinctly, because the first few words alone may be used in some views of the data sets.</dd>
            <dd class="hints">You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown formatting</a> here.</dd>
        </dl>
    </fieldset>

    <fieldset id="resources">
        <legend>Resources</legend>
        <table class="flexitable">
            <thead>
                <tr>
                    <th class="field_req resource-url">URL*</th>
                    <th class="field_opt resource-format">Format</th>
                    <th class="field_opt resource-description">Description</th>
                </tr>
            </thead>
            <tbody>
                <py:for each="num, res in enumerate(data.get('resources', []) + [{}])">
                <tr>
                    <td class="resource-url">
                        <input name="resources__${num}__url" type="text" value="${res.get('url', '')}" class="medium-width" />
                    </td>
                    <td class="resource-format">
                        <input name="resources__${num}__format" type="text" value="${res.get('format', '')}" class="short"  />
                    </td>
                    <td class="resource-description">
                        <input name="resources__${num}__description" type="text" value="${res.get('description', '')}" class="short" />
                        <input name="resources__${num}__id" type="hidden" value="${res.get('id', '')}" />
                    </td>

                </tr>
                </py:for>
            </tbody>
        </table>

        <div class="instructions basic">The files containing the data or address of the APIs for accessing it.</div>
        <div class="instructions further"><br /><b>URL:</b> <span class="field-xml">[source-url]</span> This is the Internet link directly to the data - by selecting this link in a web browser, the user will immediately download the full dataset. Note that datasets are not hosted on this site, but by the publisher of the data.<br /> <b>Format:</b> <span class="field-xml">[format]</span>This should give the file format in which the data is supplied. IATI-compliant data should specify "IATI-XML".<br /><b>Description</b> Any information you want to add to describe the resource.<br /></div>
        <div class="field_error" py:if="errors.get('resources', '')">Dataset resource(s) incomplete.</div>
    </fieldset>

    <fieldset>
        <legend>Verification and Analysis </legend>
        <dl>
            <dt><label class="field_opt" for="activity_period">Activitiy Period</label><div class="field-xml">[activiy-period-start -<br/>activity-period-end]</div></dt>
            <dd>
                <input class="short" id="activity_period-from" name="activity_period-from" type="text" value="${data.get('activity_period-from', '')}" /> -
                <input class="short" id="activity_period-to" name="activity_period-to" type="text" value="${data.get('activity_period-to', '')}" />
            </dd>
            <dd class="instructions basic">The earliest and latest dates reported for the starting and ending of activities within this dataset. Acceptable formats: 'DD/MM/YYYY HH:MM', 'DD/MM/YYYY', 'MM/YYYY', 'YYYY'.</dd>

            <dt><label class="field_opt" for="activity_count">Num. Activities</label><div class="field-xml">[activity-count]</div></dt>
            <dd><input id="activity_count" name="activity_count" size="40" type="text" value="${data.get('activity_count', '')}"/></dd>
            <dd class="instructions basic">A count of the number of activities reported.</dd>

            <dt><label class="field_opt" for="archive_file">Archive</label></dt>
            <dd><input id="archive_file" name="archive_file" size="40" type="checkbox" py:attrs="{'checked': 'checked' if data.get('archive_file','') == 'yes' else None}" /></dd>
            <py:choose>
                <py:when test="c.is_sysadmin">
                <dt><label class="field_opt" for="verified">Verification</label><div class="field-xml">[verification-status]</div></dt>
                <dd><input id="verified" name="verified" size="40" type="checkbox" py:attrs="{'checked': 'checked' if data.get('verified','') == 'yes' else None}" /></dd>

                <dt><label class="field_opt" for="state">State</label></dt>
                <dd>
                    <select id="state" name="state">
                        <option py:attrs="{'selected': 'selected' if data.get('state') == 'active' else None}" value="active">active</option>
                        <option py:attrs="{'selected': 'selected' if data.get('state') == 'deleted' else None}" value="deleted">deleted</option>
                        <option py:attrs="{'selected': 'selected' if data.get('state') == 'pending' else None}" value="pending">pending</option>
                    </select>
                </dd>
                </py:when>
            </py:choose>
            <dd class="instructions basic">Choose from the dropdown: "active" - published; "pending" - pre-publication; "deleted"</dd>
        </dl>
    </fieldset>

    <hr />
    <label for="log_message">Edit summary (briefly describe the changes you have made)</label>
    <textarea id="log_message" name="log_message" class="short wide"></textarea>

    <div class="ckan-logged-in">
    <p>Author: ${c.author}</p>
    </div>

    <div class="submit">
    <input id="save" name="save" type="submit" value="Save" />
    </div>
    <p class="hints">
    <strong>Important:</strong> By submitting content, you agree to release your contributions
    under the open license specified on the <a href="/license">license page</a>. Please <strong>refrain</strong> from editing this page if you are <strong>not</strong> happy to do this.
    </p>

</form>
