<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <xi:include href="../_util.html" />

  <div class="package">
    <h2 class="head">
      ${c.pkg.title}
      <span class="name">(${c.pkg.name})</span>
    </h2>
    <div class="url" py:if="c.pkg.url">
      <p>
        ${c.pkg_url_link}
      </p>
    </div>

    <div class="tags">
      <div py:if="len(c.pkg.tags)"  class="dataset-page-header">
        Tags: ${tag_list_local(c.pkg.tags)}
      </div>
      <div py:if="len(c.pkg.groups)" class="dataset-page-header">
        <span title="Publisher of this dataset">Publisher:</span>
        <ul>
          <li py:for="group in c.pkg.groups">
          <a href="${h.url_for(controller='group', action='read', id=group.name)}">${group.title}</a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="cleared" />

    <div class="notes" py:if="str(c.pkg_notes_formatted).strip()">
      ${c.pkg_notes_formatted}
    </div>

    <py:choose test="">
      <table py:when="c.pkg.resources" width="100%">
        <tr><th>URL</th><th>Format</th><th py:if="config.get('iati.preview_service','')">Preview</th></tr>
        <py:for each="res in c.pkg.resources">
          <tr>
            <td><a href="${res.url}" target="_blank">Download</a></td>
            <td>${res.format}</td>
            <td py:if="config.get('iati.preview_service','')">
                ${h.link_to('preview',  config.get('iati.preview_service') % res.url, target='_blank')}
            </td>
        </tr>
        </py:for>
      </table>
      <table py:otherwise=""><tr><th>Resources</th><td>None given for this package.</td></tr></table>
      </py:choose>
    
    <?python
        extras = {}
        for extra in c.pkg_dict['extras']:
            extras[extra['key']] = extra['value']
    ?>

    <py:def function="details_item(label, value)">
        <tr py:if="value is not None and len(value) > 0">
          <td class="package-label">
            ${label}
          </td>
          <td class="package-details">
            ${value}
          </td>
        </tr>
    </py:def>

    <py:def function="details_extras_item(label, key, default, func = None)">
        <tr py:if="key in extras.keys()">
          <td class="package-label">
            ${label}
          </td>
          <py:with vars="value = extras[key] if extras[key] is not None and len(extras[key]) > 0 else None">
          <td class="package-details">
          <py:choose>
              <py:when test="value">
                ${func(value) if func else value}
              </py:when>
              <py:otherwise>
                ${default}
              </py:otherwise>
          </py:choose>

          </td>
          </py:with>
        </tr>
    </py:def>

    <py:def function="details_asbool(label, value)">
        <tr>
          <td class="package-label">
            ${label}
          </td>
          <td class="package-details">
            ${'yes' if value == 'yes' else 'no'}
          </td>
        </tr>
    </py:def>

    <py:def function="details_list(label, values)">
        <tr py:if="values is not None and len(values) > 0">
          <td class="package-label" valign="top">
            ${label}
          </td>
          <td class="package-details"><ul>
            <li py:for="value in values">${value}</li>
          </ul></td>
        </tr>
    </py:def>

    <div class="details">
    <h4>Details</h4>
    <table width="100%">
      <tbody>

        ${details_extras_item('File Type', 'filetype', '-', h.file_type_title)}
        ${details_extras_item('Language','language','-')}
        ${details_extras_item('Recipient Country', 'country', '(Unknown)', h.country_name)}

        ${details_extras_item('Publisher Type','publishertype','-',h.publisher_type_title)}
        ${details_extras_item('Publisher Organization Type','publisher_organization_type','-',h.organization_type_title)}
        ${details_extras_item('Publisher Identifier','publisher_iati_id','-')}
        ${details_extras_item('Publisher Country','publisher_country','(Unknown)',h.country_name)}

        ${details_asbool('Verified', c.pkg.extras.get('verified', False))}
        ${details_asbool('Archive File', c.pkg.extras.get('archive_file', False))}

        ${details_extras_item('Data updated', 'data_updated', '-')}
        ${details_extras_item('Record updated', 'record_updated', '-')}

        <tr>
          <td class="package-label">
            License
          </td>
          <td class="package-details">
          <py:choose test="">
          <py:when test="c.pkg.license and c.pkg.license.url">
            <a href="${c.pkg.license.url}">${c.pkg.license.title}</a>
          </py:when>
          <py:when test="c.pkg.license">${c.pkg.license.title}</py:when>
          <py:when test="c.pkg.license_id">${c.pkg.license_id}</py:when>
          <py:otherwise test="">
            -
          </py:otherwise>
          </py:choose>
          </td>
        </tr>
      </tbody>
    </table>



    <h4>Contents</h4>
    <table width="100%">
      <tbody>
        <tr>
          <td class="package-label"># of Activities</td>
          <td class="package-details">
            ${c.pkg.extras.get('activity_count', '-')}</td>
        </tr>

        <tr>
          <td class="package-label">Activity Period</td>
          <td class="package-details">
            ${c.pkg.extras.get('activity_period-from', '?')} -
            ${c.pkg.extras.get('activity_period-to', '?')}</td>
        </tr>
      </tbody>
    </table>
    </div>

    <ul>
      <py:if test="c.auth_for_change_state">
         <li><strong>State:</strong> ${c.pkg.state}</li>
      </py:if>
    </ul>

    <hr class="cleared" />
  </div>

</html>
