<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <xi:include href="facets.html" />
  <py:def function="page_title">Search - ${g.site_title}</py:def>

  <py:match path="primarysidebar">
     <div class="box feed-box">
        <h2>Follow the registry</h2>
        <div>
            <a href="/feed/registry.atom">Subscribe</a>
        </div>
        <p py:if="request.params and c.page.item_count">You can also subscribe to the current search results:</p>
        <div py:if="request.params and c.page.item_count">
        <?python
            # TODO: This should be done in the package controller
            search_params = [(p,v) for p,v in request.params.iteritems() if v]
            if len(search_params) == 0:
                feed_url = '/feed/registry.atom'
            elif len(search_params) == 1:
                param = search_params[0]
                if param[0] == 'country':
                    feed_url = '/feed/country/%s.atom' % param[1]
                elif param[0] == 'groups':
                    feed_url = '/feed/publisher/%s.atom' % param[1]
                elif param[0] == 'publisher_organization_type':
                    feed_url = '/feed/organisation_type/%s.atom' % param[1]
                else:
                    feed_url = '/feed/custom.atom?%s=%s' % (param[0],param[1])
            else:
               feed_url = '/feed/custom.atom?%s' % '&'.join(['%s=%s' % (p,v) for p,v in search_params])


        ?>
            <a href="${feed_url}">Subscribe</a>
        </div>

    </div>

  </py:match>

  <div py:match="content">
    <h2>Search the ${g.site_title}</h2>

    <xi:include href="search_form.html" />

      <py:if test="c.query_error">
        <p i18n:msg="item_count"><strong>There was an error while searching.</strong>
            Please try another search term.</p>
      </py:if>
      <py:if test="request.params">
        <h4 i18n:msg="item_count"><strong>${c.page.item_count}</strong> packages found</h4>
     </py:if>
      ${package_list_local(c.page.items)}
      ${c.page.pager(q=c.q)}

  </div>
  <xi:include href="layout.html" />
</html>


