<form id="package-search"
    class="package-search"
    action="${h.url_for(controller='package', action='search', id=None)}"
    method="GET"
    xmlns:py="http://genshi.edgewall.org/"
>
  <input type="search" class="search" name="q" value="${c.q}" />
 
  <?python
    from ckan.lib.search import query_for, SearchError
    from ckan.model import Package

    global_query = query_for(Package)
    global_query.run({'facet.field':g.facets})
    global_facets = global_query.facets

    search_facets = [
        ('publishertype',h.publisher_type_title, 'Source'),
        ('groups',h.group_title, 'Publisher'),
        ('publisher_organization_type',h.organization_type_title, 'Organisation type'),
        ('country',h.country_name, 'Country'),
        ('filetype',h.file_type_title, 'File type'),
    ]
    options = {}
    for facet,helper,title in search_facets:
        options[facet] = [(o, helper(o) + " (%s)" % n) for o, n in global_facets.get(facet, {}).items() if o != ""]

    any = ('', 'Any')
    def sort_and_insert_any(options):
        options.sort(key=lambda name: name[1])
        options.insert(0,any)

    for facet,facet_options in options.iteritems():
        sort_and_insert_any(facet_options)   
  ?>

  <table class="facets">
    <tr py:for="facet,helper,title in search_facets">
        <td>${title}:</td>
        <td>${h.select(facet, dict(c.fields).get(facet, '') if c.facets else '', options[facet])}</td>
    </tr>
  </table>
  
   <input type="submit" value="Search" class="button" />
   <div style="clear: both;"></div>
</form>
