<form id="package-search" class="package-search" action="${h.url_for(controller='package', action='search', id=None)}" method="GET">
  <input type="search" class="search" name="q" value="${c.q}" />
 
  <?python
    from ckan.lib.search import query_for, SearchError
    from ckan.model import Package

    global_query = query_for(Package)
    global_query.run(facet_by=g.facets)
    global_facets = global_query.facets

    any = ('', 'Any')
    country_options = [(o, h.country_name(o) + " (%s)" % n) for o, n in global_facets.get('extras_country', {}).items()]
    groups_options = [(o, h.group_title(o) + " (%s)" % n) for o, n in global_facets.get('groups', {}).items()]
    types_options = [(o, h.type_title(o) + " (%s)" % n) for o, n in global_facets.get('groups_types', {}).items()]

    country_options.sort(key=lambda name: name[1])
    country_options.insert(0,any)
    groups_options.sort(key=lambda name: name[1])
    groups_options.insert(0,any)
    types_options.sort(key=lambda name: name[1])
    types_options.insert(0,any)

  ?>
  <table border="0" class="facets">
    <tr>
        <td>Source:</td>
        <td>${h.select('groups_types', dict(c.fields).get('groups_types', '') if c.facets else '', types_options)}</td>
    </tr>
    <tr>
        <td>Publisher:</td>
        <td>${h.select('groups', dict(c.fields).get('groups', '') if c.facets else '', groups_options)}</td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>${h.select('extras_country', dict(c.fields).get('extras_country', '') if c.facets else '',  country_options)}</td>
    </tr>
  </table>
  
   <input type="submit" value="Search" class="button" />
   <div style="clear: both;"></div>
</form>
