<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">CSV Export</py:def>
  <div py:match="content">

    <h2 class="head">CSV Export</h2>

    <div>Select a Publisher to download all its records in CSV format.</div>
    <div><strong>Warning:</strong>For publishers with a large number of datasets it may take a while to generate the CSV file. Please be patient.</div>
    <hr class="cleared" />
    <table class="groups">
        <tr><th>Title</th><th>Number of datasets</th><th></th></tr>
        <py:for each="group in c.groups">
            <tr>
                <td>${group['display_name']}</td>
                <td>${group['packages']}</td>
                <td><a href="${h.url_for(controller='ckanext.iati.controllers.spreadsheet:CSVController', action='download', publisher=group['name'])}">Download</a></td>
            </tr>
        </py:for>
    </table>
  </div>


  <xi:include href="../layout.html" />
</html>
