<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
    <py:def function="page_title">CSV Import</py:def>
    <div py:match="content">

        <h2 class="head">CSV Import</h2>
        <div>
        <ul>
            <li>IATI requires that you create a registry record for each file of IATI-xml data that you publish.</li>
            <li>You may use this import utility to register or update the metadata of these records</li>
            <li>Please provide a spreadsheet in CSV format containing IATI registry records metadata</li>
            <li>Your file must follow the format specified in this <a href="/csv/download/template">Template</a>.</li>
            <li>Guidance on the contents of this file can be found <a href="http://iatiregistry.org/help_csv-import">here</a>.</li>
        </ul>
        </div>
        <hr class="cleared" />
        <fieldset>
            <legend>Upload file</legend>

            <form id="csv-upload" action="/csv/upload" method="POST" enctype="multipart/form-data">
            <dl>
                <dt><label for="file">CSV file</label></dt>
                <dd><input type="file" id="file" name="file"/></dd>
            </dl>
            <div class="submit">
                <input id="upload" name="upload" type="submit" value="Upload" />
            </div>

            </form>
        </fieldset>
        <h3>Warning:</h3>
        <ul>
            <li>For publishers with a large number of datasets it may take a while to upload the CSV file. Please be patient.</li>
            <li>You may only upload records that contain your authorised registry-publisher-idi.</li>
            <li>This import will overwrite all fields in each record specified in the file. Blank cells in the file will overwrite existing data.</li>
            <li>This import will not delete records in the registry. To delete a record follow the instructions <a href="http://iatiregistry.org/help_delete">here</a>.</li>
        </ul>
    </div>

    <xi:include href="../layout.html" />
</html>
