{% ckan_extends %}

{% block organization_description %}
{% endblock %}

{% set fields = [
  ('publisher_contact',
   'Contact'),
  ('publisher_description',
   'Description'),
  ('publisher_agencies',
   'Organisations / agencies covered'),
  ('publisher_timeliness',
   'Timeliness of Data'),
  ('publisher_frequency',
   'Frequency of publication'),
  ('publisher_units',
   'Units of Aid'),
  ('publisher_segmentation',
   'Segmentation of Published Data'),
  ('publisher_refs',
   'Data Definitions and References'),
  ('publisher_field_exclusions',
   'Field Exclusions'),
  ('publisher_record_exclusions',
   'Record Exclusions'),     
  ('publisher_thresholds',
   'Thresholds'),
  ('publisher_constraints',
   'Other Constraints'),
  ('publisher_data_quality',
   'Data Quality'),
  ('publisher_ui',
   'User Interface'),
  ] %}

{% block organization_extras %}
  {% if c.group_dict %}
    {% for id, key in fields %}
      {% set value = c.group_dict[id] or 'n/a' %}
        <h3>{{ _(key) }}</h3>
        <p>{{ value }}</p>
    {% endfor %}
  {% endif %}
{% endblock %}
