{% ckan_extends %}

{% block breadcrumb_content %}
  <li>{% link_for _('Publishers'), named_route='publisher.index' %}</li>
  {% block breadcrumb_content_inner %}
    <li>{% link_for organization.title|truncate(35), named_route='publisher.read', id=organization.name %}</li>
    <li class="active">{% link_for _('Admin'), named_route='publisher.edit', id=organization.name %}</li>
  {% endblock %}
{% endblock %}

{% block content_action %}
  {% if organization and h.check_access('organization_update', {'id': organization.id}) %}
    {% link_for _('View Publisher'), named_route='publisher.read', id=organization.name, class_='btn btn-default', icon='eye'%}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('publisher.edit', _('Edit'), id=c.group_dict.name, icon='pencil-square-o') }}
  {{ h.build_nav_icon('publisher.bulk_process', _('Datasets'), id=c.group_dict.name, icon='sitemap') }}
  {{ h.build_nav_icon('publisher.members', _('Members'), id=c.group_dict.name, icon='users') }}
{% endblock %}


{% block scripts %}
  {{ super() }}
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
      var ele = $('.error-block:first');
      if (ele) {
          var target = ele.prev("input");
          try{
              var fldLength= target.val().length;
              target.focus();
              target[0].setSelectionRange(fldLength, fldLength);
          } catch(e) {
              //pass
          }
      }
  });
</script>
{% asset 'ckanext-iati/popover' %}
{% endblock -%}