{% ckan_extends %}

{% block subtitle %}{{ _('Publishers') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Publishers'), controller='organization', action='index' %}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Add Publisher'), controller='organization', action='new', class_='btn btn-primary', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block page_heading %}{{ _('Publishers') }}{% endblock %}

{% block secondary_content %}

  {{ super() }}
  {% snippet "snippets/datastore_box.html" %}

{% endblock %}

{% block organizations_search_form %}
{% endblock %}

{% block organizations_list %}
{% if c.page.items or request.params %}

  <h3>IATI Publishers List</h3>
  <div class="btn-group publisher-list-download" style="display:none">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Download List <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </button>
    {{ h.get_publisher_list_download_formats() }}
  </div>

  {% snippet "organization/snippets/organization_list_ids.html", organizations=h.organization_list_publisher_page() %}
{% else %}
  <p class="empty">
    {{ _('There are currently no organizations for this site') }}.
    {% if h.check_access('organization_create') %}
      {% link_for _('How about creating one?'), controller='organization', action='new' %}
    {% endif %}
  </p>
{% endif %}
{% endblock %}

{% block page_pagination %}
{% endblock %}
