{% ckan_extends %}

{% block subtitle %}{{ _('Create a Publisher') }}{% endblock %}

{% block breadcrumb_link %}{{ h.nav_link(_('Create a Publisher'), named_route='publisher.new') }}{% endblock %}

{% block page_heading %}{{ _('Create a Publisher') }}{% endblock %}

{% block breadcrumb_content_inner %}
  <li class="active"><a href="#">{{ _('Create a Publisher') }}</a></li>
{% endblock %}

{% block secondary_content %}
  {% snippet "organization/snippets/create_helper.html", group_type=group_type %}
{% endblock %}