

body, input, textarea, .page-title span, .pingback a.url {
	font-family: arial, sans-serif;
}

#top-bar-login {
	max-width: 300px;
}

div#access {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 940px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

div#access ul li a { 
	font-weight: bold; 
	color: #000;
	padding: 0px 12px;
	border-right: 1px solid #ccc;
}

div#access ul li a:hover {
	background-color: #000;
	color: #fff;
}

div#access ul li:first-child a {
	border-left: 1px solid #ccc;
}

div#access ul li ul li a {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

body {
	background: #E8F2F7;
	/* margin: 0px; */
	min-height: 100%;
}

#content, #content input, #content textarea {
	font-size: 14px;
}

#wrapper {
	background: white;
}


#navigation {
	background: url("/images/fade.png") repeat-x scroll center bottom transparent;
	display: block;
	height: 2em;
}

#navigation, #subnav {
	margin: 0px;
	padding-left: 2em;
	padding-right: 2em;
	min-height: 38px;
}

#subnav {
	border-top: none;
	background: none;
}

#navigation li a, #navigation li a:link, #navigation li a:visited  {
	background: none; 
	color: #425B6B !important;
	font-size: 15px;
	padding: 0 20px;
	line-height: 38px;
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

#navigation li a.active {
	background: white !important; 
	border: 2px solid #999;
	border-bottom: none;
	margin-top: -2px;
}

#navigation li a:hover {
	background: #666 !important; 
	color: white !important; 
}

#branding a {
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	color: #425B6B;
	font-size: 35pt;
	font-weight: normal;
	padding-top: 1em;
}

#site-description {
	background: url("/images/iati-logo.png") no-repeat scroll 0 0 transparent;
	height: 84px;
	margin: 0 82px;
	width: 246px;
	clear: right;
	float: right;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: #2C4F87 !important;
	font-weight: normal; 
}

div#branding h1#site-title a {
	margin-left: 1em;
	line-height: 1.4em;
	text-transform: none;
	font-size: 24pt; 
	color: #26237B;
}

div#branding {
	padding-bottom: 0.7em;
}

div#branding h1#site-title a #logo_text {
	float: right;
	margin-left: 20px;
	margin-top: 28px;
}

.packages {
	margin: 0px;
}

.packages li {
	padding: 0.4em 0px 0.4em 0em;
}

#content .package h3, 
#content .package h4 { 
	color: #fff;
	background-color: #BBE3F7;
}
a, a:link {
	color: #0097D8;
}

a, a:visited {
	color: #25237B;
}

#navigation li a,
#navigation li a:link,
#navigation li a:hover,
#navigation li a:visited {
	color: #0097D8;
}

body, #table, .box {
	color: #425B6B;
}

.package-details {
	vertical-align: top !important; 
}

.box {
	background-color: #BBE3F7;
	border-right: 0px;
	border-bottom: 0px;
	padding: 1em;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 1em;
}

.box h2 {
	padding-bottom: 0.5em;
}

.box p {
	margin-bottom: 0em;
}

#iati_map {
	margin-top: 1em;
	margin-bottom: 1em;
}

th {
	background-color: #BBE3F7;
}

#primary {
	margin-top: 0px;
}

input[type=submit] { 
	border: 0px;
	font-weight: bolder;
	font-size: 1.1em;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 4px;
	color: #000;
	background-color: #BBE3F7;
}

input[type=submit]:hover { 
	cursor: pointer;
	color: #fff !important;
	background-color: #000;
}

input[type="search"] {
	font-size: 1.1em;
	padding: 0.1em;
	-webkit-appearance: textfield;	
}

div#footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 0px;
	padding-top: 1em;
	background: url(/images/bands.jpeg);
}

div#colophon {
	padding-top: 22px;
	border-top: 0px solid; 
}

/*
COMMENTED OUT - Nick Mason 10/6/2011 - Better to have default styles here
#package-search .search {
	width: 100%;
	border: 1px solid #ccc;
	font-size: 1.2em;
	padding: 0.3em;
	margin-bottom: 0.1em;
}
*/

#package-search .facets {
	margin-top: 0.8em;
	font-size: 1em;
    border: 0px;
}

#package-search .facets tr td {
    background-color: white; 
    border: 0px;
    padding: 0px;
    margin: 0px;
}


/*
COMMENTED OUT - Nick Mason 10/6/2011 - Better to have default styles here
#package-search .facets select {
	border: 0px solid #BBE3F7;
	font-size: 0.9em;
	padding: 0.0em;
}
*/

#package-search .button {
	float: right;
	margin-top: 0.0em;
	margin-right: 0.0em;
	margin-bottom: 0.0em;
}

.iati_preview {
	display: none; 
}

#minornavigation ul li a {
	padding: 5px;
}

#minornavigation ul li a img {
	margin-bottom: -4px;
}

#minornavigation ul li {
	float: right;
}
/*-------- jQuery UI --------*/
.ui-widget-header{
    border: 1px solid #BBE3F7;
    background: white url("/images/header.png") 50% 50% repeat-x;
    font-family: 'MuseoSlab500','Times New Roman',serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 100%;
    padding: 0;
    text-transform: uppercase;
}

.ui-state-hover{
    border: 1px solid white !important;
    background: transparent !important;
}

.ckan-dialog{
    background-color: white !important; 
}

#publisher-dialog .view-full{
    display: none;
}

#publisher-dialog h2{
    display: none;
}

#publisher-dialog dt{
    background-color: #BBE3F7;
    padding: 5px;
    margin-bottom: 5px;
    font-family: 'MuseoSlab500','Times New Roman',serif;
}

.view-full{
    float: left;
    margin-top: -20px;
    margin-bottom: 20px;
}

.field-xml{
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}

.dataset-page-header{
  margin-top: 5px;
}

.dataset-page-header li{
  margin-right: 5px;
}

.feed-box h2 {
    margin-bottom: 0 !important;
}

.feed-box p {
    margin-top: 20px;
}

.feed-box div {
    margin-top: 5px;
    background: transparent url('../images/feed.png') center left no-repeat;
    padding-left: 25px;
}


/*------- Home ------------*/

.intro{
    font-size: 15px;
}


/*------- Apps ------------*/


#apps {
    width: 100%;
    margin-top: 2.5em;
}

.app {
    float: left;
    margin-right: 2.5em;
    margin-bottom: 1em;
    min-width: 250px;
    width: 270px;
}
.app p{
    margin-bottom: 2em;
}
.app img {
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888
}

.app .title{
    font-size: 1.5em;
    margin-top: 1em;
}

.app .by{
    font-size: 0.8em;
    margin-bottom: 0.5em;
}


/*------- Dataset listing ------------*/
.file-size{
    font-size: small;
}

.package-result-links {
    margin-top: 0.5em;
    font-size: 0.9em;
}

.package-result-details {
    font-size: x-small;
}

.bg-color {
    background-color: #ECF3F5

}


/* ------ Table sorter ----------- */

.groups .header{
    cursor: pointer;
    padding-left: 20px !important;
}

.headerSortDown {
    color: black !important;
    background: transparent url(../images/desc.png) left center no-repeat;
}

.headerSortUp {
    color: black !important;
    background: transparent url(../images/asc.png) left center no-repeat;
}
