/*-------- Page/Header layout --------*/

#wrapper {
  padding:0px;
  margin:0px;
  width:100%;
  overflow:hidden;
}

#logo_text {
  display:none;
}

#topbar {
  background:#E5EFF1;
  height:20px;
}

#topbar ul {
  width:940px;
  margin:0px auto;
  display:block;
}

#topbar ul li {
  float:right;
  list-style-type:none;
  text-transform:uppercase;
  padding:0px 10px;
}

#topbar ul li:first-child {
  padding:0px 0px 0px 10px;
}

#topbar ul li a {
  color:#A9B7D0;
  font-size:11px;
}

#topbar ul li a.active, 
#topbar ul li a:hover {
  color:#536FA1;
}

#header {
  background:url(/images/header.png);
  padding:0px;
  margin-bottom:10px;
}

#masthead {
  width:940px;
  height:150px;
  padding:0px;
  margin:0px auto;
}

#branding h1 {
  float:none !important;
}

div#branding h1#site-title a {
  margin:0px !important;
  font-size:20px;
  line-height:100%;
}

#branding a img {
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  display: block;
  float: none;
  margin:20px 0px 25px 0px;
  width:269px;
  height:70px;
  max-height:70px;
}

#main {
  padding-top:22px;
  overflow:visible;
}

#container {
  padding-bottom:20px;
}

#site-title {
  float: left;
  font-size: 30px;
  line-height: 36px;
  margin: 0 !important;
  width: 269px;
  padding: 0 ! important;
}

#site-title a img {
 max-height: inherit;
 margin: 20px 0 25px;
}

body.home #content {
  margin:0px;
}

body.home #primary {
  display:none;
}

#content {
  margin-left:0px;
}


/*-------- Menu --------*/

div.menu {margin:0px;}
div.menu ul.children a {
  color:#497B90;
}

div#access {
  background:transparent;
  margin: 0px;
  padding:0px;
  border-top: 0px solid #CCC;
  border-bottom: 0px solid #CCC;
  width:650px;
  float:left;
}

#access ul ul {
  top:20px;
}

div#access ul li {
  padding-right:15px;
  padding-bottom:15px;
}

div#access ul li ul li {
  padding:0px;
}

div#access ul li ul.children li.page_item a {
  color:#536FA1 !important;
  border:none !important;
}

div#access ul li ul.children li.page_item a:hover {
  color:#FFF !important;
  background:#80B8C8 !important;
}

div#access ul li:hover a {background:transparent; color:#fff !important;}
div#access ul li a:hover { border-bottom: 1px dashed #fff; background:transparent !important;}

div#access ul li a {
  font-weight: normal;
  font-family:'MuseoSlab500', 'Times New Roman', serif;
  font-size:14px;
  text-transform:uppercase;
  color: #fff;
  padding: 0px;
  border-right: 0px solid #CCC;
  line-height:100%;
}

div#access ul li:first-child a {
  border-left: 0px solid #CCC;
}

#access ul li:hover > ul li a {
  background: #FFF !important;  
}

#access ul li a.active {
  color:#FFF;
  font-weight:normal;
}

#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a, 
#access ul li.current-menu-parent > a
{
  color:#fff;
}

span.ckan_logged_in {
  display:block;
  margin-top:-21px;
}

/*-------- Login controls -------*/

div#top-bar {
  float:right;
  width:200px;
  margin-top:-4px;
  text-align:right;
}

div#top-bar a {
  color:#FFF;
}


/*------- Typography --------*/

h1, h2, h3,
#content .entry-title,
#content .package h3, 
#content .package h4 {
  font-family:'MuseoSlab500', 'Times New Roman', serif;
  font-weight:normal;
}

h1, h2,
#content .entry-title,
#content .package h3, 
#content .package h4 {
  color: #2C4F87 !important;
  font-size: 25px;
  letter-spacing: 0px;
  line-height: 33px;
  margin: 0 0 24px !important;
  text-transform: uppercase;
  background:transparent !important;
}

#content .entry-title {
  margin-bottom:17px !important;
}

#content .package h3, 
#content .package h4 {
  font-size:20px;
  margin-bottom:10px !important;
}

h1 span {
  text-transform:none;
  color:#333;
  font-size:15px;
}

.status-publish h2, .status-publish h3 {
  font-size:16px;
  text-transform:none;
  margin:20px 0px 19px 0px !important;
}

h3#reply-title {
  font-family:'MuseoSlab500', 'Times New Roman', serif;
  font-weight:normal; 
  color: #2C4F87 !important;
  font-size: 25px !important;
  letter-spacing: 0px !important;
  line-height: 33px !important;
  margin: 24px 0px 24px 0px !important;
  background:transparent !important;
  text-transform:uppercase !important;
  padding:0px !important;
}

#commentform {
  width:450px;
}

#commentform label {
  color: #2C4F87 !important;
  font-family: 'MuseoSlab500', 'Times New Roman', serif;
  font-size: 16px;
  padding:10px 0px;
}

/*-------- Home menu --------*/

body.home {
  background:url(/images/home-grad.png) repeat-x 0px 269px;
}

body.home #wrapper{
 background:transparent; 
}

#home-options {
  height:350px;
  width:940px;
  margin:25px auto 34px auto;
  position:relative;
}

#home-options ul {
  height:350px;
  width:940px;
  margin:0px auto;
}

#home-options ul li {
  width:235px;
  background:url(/images/home-dots.png) no-repeat right;
  display:block;
  float:left;
  height:350px;
  text-align:center;
}

#home-options ul li img,
#home-options ul li canvas {
  padding-top:30px;
  padding-bottom:22px;
  height:82px;
}

#home-options ul li:last-child {
  background:none;
}

#home-options ul li h1 {
  font-family:'BebasNeueRegular', Arial, Verdana, sans-serif;
  text-transform:uppercase;
  font-size:20px;
  color:#666 !important;
  line-height:1.2em;
  margin-bottom:4px !important;
}

#home-options ul li h1 b {
  color:#536FA1 !important;
  font-weight:normal !important;
}

#home-options ul li h1 em {
  font-style:normal;
  color:#8A993D !important;
  font-size:50px;
  line-height:50px;
  background:url(/images/home-arrow.png) no-repeat right 4px;
  display:inline-block;
  padding-right:40px;
}

#home-options ul li p {
  font-size:13px;
  width:190px;
  margin-left:23px;
  margin-top:0px;
  height:65px;
  line-height:22px;
}

#home-options ul li a.go {
  background:#536FA1;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:7px 10px 0px 10px;
  color:#FFF;
  text-decoration:none;
  font-family:'BebasNeueRegular', Arial, Verdana, sans-serif;
  text-transform:uppercase;
  font-size:21px;
  line-height:19px;
  border-bottom:solid 3px #3E5379;
  display:inline-block; 
  letter-spacing:1px;
}

#home-options ul li a.go:active {
  border-bottom:solid 1px #3E5379;
  margin-top:2px;
}

div#footer {
  padding-right:0px;
  background:#333;
  margin-bottom:0px;
  padding:12px 0px 10px 0px;
  color:#fff;
  font-family:Arial;
  text-transform:uppercase;
  margin:0px !important;
}

div#colophon {
  padding:0px;
  width:900px;
  margin:0px auto;
}

div#colophon a {
  color:#fff;
}

div#site-info {
  font-weight:normal;
}

p {
  font-size:13px;
  line-height:20px;
}

p.two-col {
  -moz-column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-count: 2;
	-webkit-column-gap: 40px;
	column-count: 2;
	column-gap: 40px;
	text-align:justify;
}

#id-like-to {
  font-family:'MuseoSlab500', 'Times New Roman', serif;
  color:#fff;
  background:#536FA1;
  display:block;
  width:85px;
  position:relative;
  top:-3px;
  left:-20px;
  text-transform:uppercase;
  padding:2px 6px;
  margin:-6px 0px -40px -0px;
  z-index:999;
  text-align:center;
}


/*-------- Search form --------*/

#package-search .facets tr td {
  color: #2C4F87 !important;
  font-family: 'MuseoSlab500', 'Times New Roman', serif;
  font-size: 16px;
  vertical-align:middle;
  padding:10px 0px;
}

#package-search .facets tr td:first-child {
  width: 100px !important;
}

#package-search .facets {
    width: 600px;
    margin-bottom:15px;
}

#package-search .facets tr td input {
  font-size: 11px;
  border:auto;
}

#package-search input.search {
  border-color: #AAAAAA #DDDDDD #DDDDDD #AAAAAA;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  color: #2C4F87;
  font-family: 'MuseoSlab500', 'Times New Roman', serif;
  font-size: 17px;
  padding: 7px 0px;
  width: 500px;
}

#package-search .facets select {
  border:auto;
}

.entry-content select {
  margin: 0;
}

#package-search .button,
#content input[type=submit],
#content input[type=submit]:hover {
  float:none;
  background: none repeat scroll 0 0 #536FA1;
  border-bottom: 3px solid #3E5379;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  display: inline-block;
  font-family: 'BebasNeueRegular', Arial, Verdana, sans-serif;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 19px;
  padding: 7px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:normal;
}

#package-search .button:active,
#content input[type=submit]:active  {
  border-bottom: 1px solid #3E5379;
  margin-top: 2px;
}

ul.packages {
  margin-top:40px;
}

ul.packages > li {
  border-left-width:0px;
  margin:8px 0px;
  border-bottom-color:#CCC;
}

ul.packages li div.header a {
  color: #2C4F87;
  font-family: 'MuseoSlab500', 'Times New Roman', serif;
  font-size: 18px;
  font-weight: normal;
}

ul.packages li div.header a:hover {
  border-bottom:dashed 1px #536FA1;
}

ul.packages li ul.openness .closed {
  font-weight:normal;
}

/*-------- Pagers --------*/

.pager span.pager_curpage {
    background: none repeat scroll 0 0 #536FA1;
    border-style:none;
    color: #FFFFFF;
    font-weight: normal;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

a, a:link {
    color: #536FA1;
}

.pager span, .pager a {
    border: none;
    color: #536FA1;
    font-family: 'BebasNeueRegular', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 5px 5px 0;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.pager a:hover, .pager a:active {
  background:#E3EFF3;
  color:#536FA1;
}

/*-------- Form --------*/

.error-explanation {
    border: 1px solid red;
    background-color: #FFE0E0;
    padding: 0.5em;
    margin-bottom: 1em;
}

.field_error{
    margin-top: 0;
    color: red
}



/*-------- Flash messages --------*/

/*-------- Wordpress Specific --------*/
/*
.type-page 
ul {
    list-style-type: none
}
*/
.type-page ul {
    list-style-type: circle
}

