<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">Help</py:def>

  <div py:match="content">
    <h2>Help</h2>
    <p>
        Please note: additional user support materials are currently being 
        prepared for the IATI Registry.
    </p>
    <h3>What can I do with the IATI Registry?</h3>
    <p>
        If you're an organisation wanting to <b>publish IATI data</b>: you can create 
        a record on the registry that contains a link to your data along with 
        any assosciated metadata. 
    </p>
    <p>
        This can be accomplished via the web interface or an API.  For a donor 
        publishing activity information, this will typically involve adding one 
        record per country.
    </p>
    <p>
        If you're someone who wants to <b>use IATI data</b>: you can search the metadata 
        of the published records to information on particular donors or countries. 
        You can then browse the metadata and get a link to the source IATI data, 
        all via the web interface or the API. 
    </p>
    <p>
        The IATI registry is based on <a href="http://ckan.net/">CKAN</a>. If 
        you're already familiar with CKAN, you'll know the basics of the IATI 
        registry and much of the existing <a href="http://wiki.okfn.org/ckan/doc/">CKAN documentation</a> 
        is applicable.  
    </p>
    <h3>How do I add data to the registry?</h3>
    <p>
        In order to add data (or "register a record"), you need to be signed in 
        as an individual and assosciated with a <b>'Publisher'</b> as defined by the 
        registry. A new <b>publisher needs to be approved</b> by the IATI registry 
        administrators before they can start creating records. 
    </p>
    <p>
        A <b>new user</b> from a <b>new publisher</b> needs to do the following:
    </p>
    <h4>Sign in</h4>
    <ol>
        <li>Click on "Login with OpenID" in the top-right of the screen</li>
        <li>Select an account provider (e.g. Google)</li>
        <li>Once logged in, click "Edit your profile" to specify your name and contact information</li>
    </ol>
    <h4>Create a new publisher and await approval</h4>
    <ol>
        <li>Once signed in, click the "Publishers" tab</li>
        <li>Confirm you don't see the publisher you represent on the list, click "Create a new publisher" on the right.</li>
        <li>In the "Title" field, enter the full name of the Publisher (e.g. "Department For International Development"</li>
        <li>In the "Unique Name" field chose a unique identifer per the instructions (e.g: dfid, oxfam, hewlett-foundation)  this will eventually be included in URL and API queries (e.g. http://iatiregistry.org/group/dfid) so make it clear.</li>
        <li>Fill in the rest of the information and click "Save"</li>
        <li>You'll see the publisher listed as "pending approval" until an adminstrator approves it.</li>
    </ol>
    <h4>Register a record / add data via the web</h4>
    <ol>
        <li>Depending on what type of publisher you are (Donor / Community / Recipient) hover on the appropriate tab and click Register.</li>
        <li>Fill in the form of metadata, taking care to make a clear unique identifier (e.g. dfid-pakistan)</li>
        <li><b>Most importantly:</b> add the URL of the IATI record you wish to add in the "Resources section" and press "Add Row to Table" </li>
        <li>Optionally press preview to check the record and then press Save.</li>
        <li>The dataset has now been registered and users can find and access it through the registry.</li>
    </ol>
    <h4>Using the API</h4>
    <p>A more guide to using the IATI registry API is still being written. For the moment, the majority of 
    operations from the <a href="http://knowledgeforge.net/ckan/doc/ckan/api.html">CKAN API</a>
    are supported.</p>



  </div>

  <xi:include href="layout.html" />
</html>
