{% extends "page.html" %}
{% set dataset_type = pkg.type %}


{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = pkg.title or pkg.name %}
    {% if pkg.organization %}
      {% set organization = pkg.organization.title or pkg.organization.name %}
      <li>{% link_for _('Publishers'), named_route='publisher.index' %}</li>
      <li>{% link_for organization|truncate(30), named_route='publisher.read', id=pkg.organization.name %}</li>
    {% else %}
      <li><a href="/dataset">Datasets</a></li>
    {% endif %}

    <li class="active">{% link_for dataset|truncate(30), named_route=pkg.type+'.read', id=pkg.name %}</li>
  {% else %}
      <li><a href="/dataset">Datasets</a></li>
  {% endif %}
{% endblock %}



{% block primary %}
              <div class="primary col-sm-9 col-xs-12">
                {#
                The primary_content block can be used to add content to the page.
                This is the main block that is likely to be used within a template.

                Example:

                  {% block primary_content %}
                    <h1>My page content</h1>
                    <p>Some content for the page</p>
                  {% endblock %}
                #}
                {% block primary_content %}
                  <article class="module">
                    {% block page_header %}
                      <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                          <div class="content_action">
                            {% block content_action %}{% endblock %}
                          </div>
                        {% endif %}
                        <ul class="nav nav-tabs">

                            {% block content_primary_nav %}

                              {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.id if is_activity_archive else pkg.name, icon='sitemap') }}
                              {{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=pkg.id if is_activity_archive else pkg.name, icon='clock-o') }}
                              {% if h.check_access('sysadmin') %}
                                {{ h.build_nav_icon('archiver.archiver_controller', _('Archiver'), view_type='dataset', id=pkg.id, icon='wrench') }}
                              {% endif %}
                            {% endblock %}
                        </ul>
                      </header>
                    {% endblock %}
                      <div class="module-content">
                        <p>"This is to validate the data set <strong>{{ _(pkg.title) }}</strong>. Please note this may take several minutes to run.."</p>
                        <form method="post">
                          <button type='submit' class="btn btn-secondary center-block" id="export_to_csv"><i class="fa fa-wrench"></i> Run Archiver</button>
                        </form>
                    </div>
                  </article>
                {% endblock %}
              </div>

              <aside class="secondary col-sm-3">
                  {% snippet 'snippets/dataset_snippet.html', pkg=pkg %}
                  {% block package_social %}
                      <div class="module">
                        <h2 class="module-heading">
                          <i class="icon-file"></i> Metadata
                        </h2>
                        <ul class="nav nav-simple">
                          <li class="nav-item">
                            {% set api_url = h.url_for('api.action', logic_function='package_show', id=pkg.name, ver=3) %}
                            <a href="{{ g.api_url ~ api_url }}">JSON</a>
                          </li>
                          {% if g.rdf_packages %}
                            <li class="nav-item">
                              <a href="{{ g.rdf_packages ~ pkg.name }}">RDF</a>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    {% set current_url = h.full_current_url() %}
                    {% block social %}
                      <section class="module module-narrow social">
                        {% block social_title %}
                          <h2 class="module-heading"><i class="fa fa-medium fa-share-square-o"></i> {{ _('Social') }}</h2>
                        {% endblock %}
                        {% block social_nav %}
                          <ul class="nav nav-simple">
                            <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                            <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                          </ul>
                        {% endblock %}
                      </section>
                    {% endblock %}
                  {% endblock %}
              </aside>


{% endblock %}






