{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My Organizations') }}</h2>
  {% if pending_organizations %}
    {% block organizations_search_form %}
        {% set facets = {
            'fields': c.fields_grouped,
            'search': c.search_facets,
            'titles': c.facet_titles,
            'translated_fields': c.translated_fields,
            'remove_field': c.remove_field }
          %}
        {% snippet 'snippets/search_form.html', type='organization',
            not_disp_query=True, site_search_label=_('Search for Publishers'),
            query=c.q,
            sorting_selected=c.sort_by_selected,
            count=c.page.item_count, facets=facets,
            placeholder=_('Search for pending publishers...'),
            show_empty=request.params,
sorting=[(_('Date Descending'), 'display_name desc'),
                    (_('Date Ascending'), 'display_name asc')]
         %}
    {% endblock %}
    <div class="wide">
    {% snippet "organization/snippets/organization_list_dashboard.html", pending=c.page.items %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any organizations.') }}
      {% if h.check_access('organization_create') %}
        {% link_for _('Create one now?'), named_route='publisher.new' %}
      {% endif %}
    </p>
  {% endif %}
  {{ c.page.pager() }}
{% endblock %}
