
{% import "macros/form.html" as form %}

{% block form %}
    <fieldset class="fieldset-4">
        <legend>{{ _('Admin User Information') }}</legend>
        {% block core_fields %}
          {% block required_core_fields %}
            {{ form.input("user_name", id="field-username", label=_("Username (required) <span class='required'>*</span>"), placeholder=_("username"), value=data.user_name, error=errors.user_name, is_required=True) }}
            {{ form.input("fullname", id="field-fullname", label=_("Full Name"), placeholder=_("Joe Bloggs"), value=data.fullname, error=errors.fullname) }}
            {{ form.input("email", id="field-email", label=_("Email (required) <span class='required'>*</span>"), type="email", placeholder=_("joe@example.com"), value=data.email, error=errors.email, is_required=True) }}
            {{ form.input("password1", id="field-password", label=_("Password (required) <span class='required'>*</span>"), type="password", placeholder="••••••••", value=data.password1, error=errors.password, is_required=True) }}
            {{ form.input("password2", id="field-confirm-password", label=_("Confirm (required) <span class='required'>*</span>"), type="password", placeholder="••••••••", value=data.password2, error=errors.password, is_required=True) }}
          {% endblock %}

          {% block optional_core_fields %}
            <div class="user-image-upload">
                {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
                {% set is_url = data.image_url and data.image_url.startswith('http') %}
                {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload, upload_label=_('Profile picture'), url_label=_('Profile picture URL')) }}
            </div>
            {% endblock %}
        {% endblock %}

        {% block extra_fields %}
        {% endblock %}

        {% block captcha %}
          {% if g.recaptcha_publickey %}
            {% snippet "user/snippets/recaptcha.html", public_key=g.recaptcha_publickey %}
          {% endif %}
        {% endblock %}

    </fieldset>

{% endblock %}