<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <!--! List of packages: pass in a collection of tags and this renders the
        standard package listing -->

  <?python
    def get_extra(package, key, default=None):
        value = [e['value'] for e in package['extras'] if e['key'] == key]
        value = value[0] if value else default
        if isinstance(value, basestring) and value[:1] == '"':
          value = h.json.loads(value)
        return value

    i = 0
  ?>

  <ul py:def="package_list_local(packages)" class="packages">
    <li py:for="package in packages"
        class="${'bg-color' if i % 2 == 0 else None}"
     >
        <div class="header">
			<span class="title">
				${h.link_to(package.title or package.name, h.url_for(controller='package', action='read', id=package.name))}
			</span>
			
			<div class="search_meta">
        <py:if test="package.resources">
            <?python
                res = package['resources'][0]
                file_type = get_extra(package,'filetype')
            ?>
       </py:if>
        <ul class="openness">
          <py:if test="package.isopen if isinstance(package.isopen,bool) else package.isopen()">
            <li>
              <a href="http://opendefinition.org/okd/" title="This package satisfies the Open Definition.">
                 <img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="[Open Data]" />
              </a>
            </li>
          </py:if>
          <py:if test="not (package.isopen if isinstance(package.isopen,bool) else package.isopen())">
            <li>
              <span class="closed">
                ${h.icon('lock')} Not Openly Licensed
              </span>
            </li>
          </py:if>
        </ul>
      </div>
    </div>

    <py:if test="package.resources">
        <?python
            res = package['resources'][0]
            num_activities = get_extra(package,'activity_count')
            data_updated = get_extra(package,'data_updated')
        ?>

        <div class="package-result-details">
            <py:if test="data_updated">
                Last modified: ${data_updated}
            </py:if>
            <py:if test="num_activities">
                <py:if test="data_updated"> | </py:if>
                 No. of Activities: ${num_activities}
            </py:if>
        </div>
    </py:if>

	<py:if test="get_extra(package, 'issue_type', None)">
      ${dataset_issue_box(package)}
    </py:if>

	<div class="package-result-links">
        ${h.link_to('View Metadata', h.url_for(controller='package', action='read', id=package.name))}
        <py:if test="package.resources">

             | ${h.link_to('Download', res.url,target='_blank')}
                 <py:if test="res.size">
                    (${h.format_file_size(res.size)})
                </py:if>
                     ${img_new_window()}
            <py:if test="config.get('iati.preview_service','') and file_type and file_type != 'organisation'">
                 | ${h.link_to('Preview',  config.get('iati.preview_service') % res.url, target='_blank')}
                     ${img_new_window()}
            </py:if>
            <py:if test="config.get('iati.csv_service','') and file_type and file_type != 'organisation'">
                 | ${h.link_to('CSV',  config.get('iati.csv_service') % res.url, target='_blank')}
                     ${img_new_window()}
            </py:if>
        </py:if>
    </div>

    <?python i = i + 1 ?>
    </li>
  </ul>

  <!--! List of tags: pass in a collection of tags and this renders the standard
        tag listing -->
  <ul py:def="tag_list_local(tags)" class="" style="margin-bottom:30px" >
    <li py:for="tag in tags" style="float:left">
      ${h.link_to(tag['name'], h.url_for(controller='tag', action='read', id=tag['name']))}
    </li>
  </ul>

  <!--! List of dataset groups: pass in a collection of dataset groups
        and this renders the standard group listing. Same as the above, but using dictionaries.
        Also modified for the table sorter plugin -->

  <table py:def="group_list_from_dict_local(groups)" class="groups" id="groups">
    <thead>
        <tr>
            <th title="Sort by publisher name">Publisher</th>
            <th title="Sort by organisation type">Organisation type</th>
            <th title="Sort by number of published datasets">Datasets</th>
        </tr>
    </thead>
    <tbody>
    <py:for each="group in groups">
        <tr>
          <td><a href="/publisher/${group['name']}">${group['display_name']}</a></td>
          <td>${h.get_organization_type(group['id'])}</td>
          <td>${group['packages']}</td>
        </tr>
    </py:for>
    </tbody>
  </table>

  <!--! Small inline icon for links that open in new windows -->
  <img py:def="img_new_window()" class="new_window" src="/images/new_window.png" alt="(New window)" title="The link will open in a new window" />

  <div py:def="dataset_issue_box(package)" class="issue">
    <div>
      <span class="type">${h.issue_title(get_extra(package, 'issue_type', ''))}</span>
      <span class="date">(${h.render_datetime(get_extra(package, 'issue_date', ''))})</span>
    </div>
    <span class="message">${get_extra(package, 'issue_message', '')}</span>
  </div>

</html>



