<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">

  <py:def function="page_title">IATI</py:def>

  <div py:match="content">
    <h2>About the IATI Registy</h2>
    <p>
        The International Aid Transparency Initiative (IATI) makes information 
        about aid spending easier to access, use and understand.
    </p>
    <p>
        The IATI Registry is an index of data published on international development 
        activities. The registry itself stores no data, but provides a searchable 
        index of metadata, feeds, and links to datasets hosted by donor agencies, 
        development organisations and partner countries.
    </p>
    <p>
        Organisations publish IATI data onto their own websites. The IATI registry 
        provides a convenient single point of access for users to find and stay 
        current with these different  sources of information.
    </p>
    <h3>What is IATI?</h3>
    <p>
        At the core of aid transparency is knowing the details of who is doing what, 
        where. IATI is a multi-stakeholder effort to make this information available. 
    </p>
    <p>
        As part of the IATI process, donors, civil society organisations and recipient 
        governments have agreed on what to publish, common definitions for sharing 
        information and an electronic XML data standard.
    </p>
    <p>
        These steps will increase the effectiveness of aid by making it easier to 
        administer, reducing the risk of diversion or corruption and improving 
        coordination between stakeholders. 
    </p>
    <p>
        You can find more information at <a href="http://aidtransparency.net">http://aidtransparency.net</a> and to read more 
        about how aid transparency will affect development, there a good article on 
        the <a href="http://www.devex.com/en/blogs/full-disclosure/aid-transparency-how-it-will-affect-your-work">devex blog</a>.
    </p>
    <h3>What is the IATI standard?</h3>
    <p>
        IATI consists of two main standards: an 'organisation standard', designed 
        for publishing forward-looking budget data; and an 'activity standard' for 
        publishing details of past, current and planned aid activities or projects.
    </p>
    <p>
        Additionally, there are various code lists that provide common definitions 
        for specifying values such as sector descriptions, geographical information 
        and types of financial transaction.
    </p>
    <p>
        The standards and code lists, as well as XML schemas and user guides are 
        available at <a href="http://iatistandard.org">http://iatistandard.org</a>. 
    </p>
  </div>

  <xi:include href="layout.html" />
</html>
