<div id="footer-additional">
  <div id="footer-cookie">
    <div id="text-2" class="widget-1 widget-first widget-last widget-odd widget widget_text">
      <h3 class="widget-title">Cookie Disclaimer</h3>
      <div class="textwidget">
        <p>Cookies' are small text files that are stored by the browser (e.g. Internet Explorer, Chrome, Firefox) on your computer or mobile phone. This site uses anonymous Analytics cookies which allow us to track how many unique individual users we have, and how often they visit the site. Unless a user signs in, these cookies cannot be used to identify an individual; they are used for statistical purposes only. If you are logged in, we will also know the details you gave to us for this, such as username and email address. By continuing to use this site, you are agreeing to the use of cookies.</p>
      </div>
    </div>
  </div>
  <div id="footer-social">
    <div id="sidebar_social_links" class="widget widget_social_links">
      <div class="text-widget">
        <ul class="social-links">
          <li class="social facebook"><a href="http://www.facebook.com/pages/International-Aid-Transparency-Initiative/137537416269099?fref=ts">Facebook</a></li>
          <li class="social twitter"><a href="https://twitter.com/IATI_aid">Twitter</a></li>
          <li class="social linkedin"><a href="https://www.linkedin.com/groups/Aid-Transparency-3145916?trk=anet_ug_hm&amp;gid=3145916&amp;home=">LinkedIn</a></li>
          <li class="social rss"><a href="http://www.iatiregistry.org/feed/registry.atom">RSS</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>