{% ckan_extends %}

{% block styles %}
  {# We're not calling super as iati.css has everything we need and we don't
  want include CKAN cores main.css #}
  {% resource 'ckanext-iati/styles/iati.css' %}
{% endblock %}
{% block links %}
  <link rel="shortcut icon" href="/favicon.ico">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if h.get_config_option('iati.google_analytics.id') %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ h.get_config_option('iati.google_analytics.id') }}']);
      _gaq.push(['_gat._anonymizeIp']);
      _gaq.push(['_setDomainName', 'iatiregistry.org']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
{% endif %}
{% endblock %}
