{% ckan_extends %}

{% block footer %}
  <footer id="pre-footer">
    <div class="container">
      <div class="disclaimer">
        {% trans %}
          <h3>Cookie Disclaimer</h3>
          <p>Cookies are small text files that are stored by the browser (e.g. Internet Explorer, Chrome, Firefox) on your computer or mobile phone. This site uses anonymous Analytics cookies which allow us to track how many unique individual users we have, and how often they visit the site. Unless a user signs in, these cookies cannot be used to identify an individual; they are used for statistical purposes only. If you are logged in, we will also know the details you gave to us for this, such as username and email address. By continuing to use this site, you are agreeing to the use of cookies.</p>
          <p><a href="https://www.aidtransparency.net/privacy-policy">Privacy policy</a></p>
        {% endtrans %}
      </div>
      <ul class="social">
        <li class="twitter"><a href="https://twitter.com/IATI_aid" target="_blank"><i class="icon-twitter"></i></a></li>
        <li class="rss"><a href="http://www.iatiregistry.org/feed/registry.atom" target="_blank"><i class="icon-rss"></i></a></li>
      </ul>
    </div>
  </footer>
  <footer id="footer">
    <div class="container">
      <a href="/" title="{{ _('IATI Registry') }}">{{ _('IATI Registry') }}</a> ·
      {{ _('powered by') }} <a href="http://ckan.org">{{ _('CKAN') }}</a>
    </div>
  </footer>
{% endblock %}
