<a href="{{ resource.url }}"{% if has_download_button %} class="btn btn-primary"{% endif %} target="_blank">
  {% if has_download_button %}<i class="icon-download"></i>{% endif %}
  Download
</a>

{% if resource.size %}
  ({{ h.format_file_size(resource.size) }})
{% endif %}

{% set is_org_file = (h.get_pkg_dict_extra(package, 'filetype') == 'organisation') %}
{% if h.get_config_option('iati.preview_service') and not is_org_file %}
  &middot;
  <a href="{{ h.get_config_option('iati.preview_service') % resource.url }}" target="_blank">Preview <i class="icon-external-link"></i></a>
{% endif %}
{% if h.get_config_option('iati.csv_service') and not is_org_file %}
  &middot;
  <a href="{{ h.get_config_option('iati.csv_service') % resource.url }}" target="_blank">CSV <i class="icon-external-link"></i></a>
{% endif %}
