<a href="{{ resource.url }}"{% if show_buttons %} class="btn btn-primary"{% endif %} target="_blank">
  {% if show_buttons %}<i class="icon-download"></i>{% endif %}
  Download

{% if resource.size and show_buttons %}
  ({{ h.format_file_size(resource.size) }})
{% endif %}

  </a>

{% if resource.size and not show_buttons %}
  ({{ h.format_file_size(resource.size) }})
{% endif %}

  &middot;
  <a href="{{ h.get_config_option('iati.preview_service') % h.urlencode(resource.url) }}" {% if show_buttons %} class="btn"{% endif %} target="_blank">
    {% if show_buttons %}<i class="icon-external-link"></i> Preview{% endif %}
    {% if not show_buttons %}Preview <i class="icon-external-link"></i>{% endif %}
    </a>
